.payment-succ{background:#fff;box-shadow: 0px 0px 20px #CCCCCC;text-align:center;padding: 40px 30px;border-radius: 2px;}
.payment-succ i{font-size:75px;color:#9cd1cf;}
.payment-succ h3{font-size: 35px;color: #222222;font-weight: 600;margin-top: 25px;}
.payment-succ p{font-size:17px;color:#75797d;margin-top:20px;}
.payment-succ a{background: #9cd1cf;color:#fff;font-size:14px;text-transform:uppercase;padding: 10px 35px;
display: inline-block;border-radius: 3px;margin-top: 30px;}
.payment-succ a:hover{background:#222222;}
.payment-succ.error i{color:#d52800;}
.top-check::after {content: "";background:#babec2;height:1px;display: block;margin-top: -33px;}
.products_main.checkout .top-check li{width:55px;height:55px;border:1px solid #babec2;box-shadow: none;    padding: 70px 0;
margin: 0;border-radius: 50%;text-align: center;font-size:18px;color:#6b7076;padding: 13px 0;background:#fff;}
.products_main.checkout .top-check li:last-child{float:right;}
.products_main.checkout .top-check li.active{background:#9cd1cf;color:#fff;}
.paymentrow {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-top: 60px;
}
.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 11px;
}