<app-loader *ngIf="loader"></app-loader>
<footer class="footer website_footer">
	<div class="row foot_padding">
		<div class="col-md-6 col-sm-6">
			<ul class="footer-link">
				<li><a href="javascript:void(0);" routerLink="/privacy">Privacy</a></li>
				<li><a href="javascript:void(0);" routerLink="/contact-us">Contact</a></li>
				<li><a href="javascript:void(0);" routerLink="/aboutus">About</a></li>
				<li><a href="javascript:void(0);" routerLink="/cookies-policy">Cookies Policy</a></li>
				<li><a href="javascript:void(0);" routerLink="/dmca">DMCA</a></li>
				<li class="hidden-xs"><a href="javascript:void(0);" routerLink="/sitemap">Sitemap</a></li>
				
			</ul>
		</div>
		<div class="col-md-6 col-sm-6">
			<ul class="footer-copyright">
				<li>Feenu, All Rights Reserved.</li>
				<li><a href="https://play.google.com/store/apps/details?id=com.feenu"  target="_blank"><img src="assets/img/badge_new.png" style="width: 81px;"></a></li>
				<li class="hidden-xs"><a href="https://www.youtube.com/channel/UCEeeyW5Spsv_YY7_5lrtoHQ/" target="_blank" class="youtube"><i class="fa fa-youtube-play"></i> Youtube</a></li>
			</ul>
		</div>
	</div>
</footer>
<div id="popup" style="display:none;background-color: #fff; padding: 10px; position: fixed; bottom: 0px;z-index: 15;">
       <div>
     <div class="row">
      <div class="col-md-10 col-md-offset-1">In order to optimize our website and improve it continuously, we use cookies. By continuing to use the website, you agree to the use of cookies. Further information on cookies can be found in our <a href="javascript:void(0);" routerLink="/cookies-policy">Cookies policy</a> 
		<button id="popup-close" class="btn btn-info">Accept</button> </div>
     </div>
         
    </div>
</div>
	






<!--

<div class="modal fade browse" id="browseLogin" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal_dialog_top_0">
        <div class="modal-content modal-content-login">
            <div class="modal-body row">
				<div class="w-300">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<div class="modal-logo">
						<img src="assets/img/logo.png" alt="">
						<p class="text-center">Login in your Account</p>
					</div>
					<div class="col-md-12">
						<form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
							<div id="headMsg"></div>
							<div class="form-group text-left" style="width: 100%;margin-top: 10px;">
								<label>Email<span class="required">*</span></label>
								<input class="form-control" style="width : 100%" [(ngModel)]="user_email" id="user_email" name="user_email" placeholder="Enter Email" type="text">
							</div>
							<br/>
							<div class="form-group text-left" style="width: 100%;margin-top: 10px;">
								<label>Password<span class="required">*</span></label>
								<input class="form-control" style="width : 100%" [(ngModel)]="user_password" id="user_password" name="user_password" placeholder="Enter Password" type="password">
								
							</div>
							<div class="clearfix"></div>
							<div class="checkbox text-right" style="margin-top: 10px;float: right;">
								<label><a href="javascript:void(0);" routerLink="/forgetpassword" >Forgot Password?</a></label>
							</div>
							<br>
							
  
							<div class="clearfix"></div>
							
							<button type="submit" (click)="onSubmit()" class="btn btn-login">Sign In</button>
						
						</form>
						<div class="text-footer"><br>
							<p>Don’t have an account &nbsp;<a href="javascript:void(0);" (click)="pop_hide_show()"  ><u>Sign Up</u></a></p>
							
						</div>
						<div class="social text-center">
							<a href="javascript:void(0);" (click)="signIn('facebook')" ><img src="assets/img/fblogin.jpg" alt=""></a><br>
							<a  href="javascript:void(0);" (click)="signIn('google')" ><img style="margin-top: 5px; margin-bottom: 5px;" src="assets/img/googlelogin.jpg" alt=""></a><br>
						</div>
					</div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade Register" id="browseRegister" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content modal-content-login">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <div class="modal-logo text-center">
					<img src="assets/img/logo.png" alt="">
					<p class="text-center">Sign up and Create your Account</p>
				</div>
				<h3> </h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
				<div class="social text-center" style="margin-left: 140px;">
							<a href="javascript:void(0);" (click)="signIn('facebook')" ><img src="assets/img/fblogin.jpg" alt=""></a><br>
							<a href="javascript:void(0);" (click)="signIn('google')" ><img style="margin-top: 5px; margin-bottom: 5px;" src="assets/img/googlelogin.jpg" alt=""></a><br>
						</div>
                    <form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
						
                        <div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
                          
                            <label class="control-label col-md-3" for="first_name"> First Name<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="first_name" id="first_name" name="first_name" placeholder="First Name" type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<label class="control-label col-md-3" for="last_name"> Last Name<span class="required">*</span></label>
                            <div class="col-md-9">
                               <input class="form-control" style="width : 100%" [(ngModel)]="last_name" id="last_name" name="last_name" placeholder="Last Name" type="text">
                           </div>
							</div>
							
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<label class="control-label col-md-3" for="user_name">User Name<span class="required">*</span></label>
                            <div class="col-md-9">
                               <input class="form-control" style="width : 100%" [(ngModel)]="user_name" id="user_name" name="user_name" placeholder="User Name" type="text">
                           </div>
							</div>
							
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							 <label class="control-label col-md-3" for="gender"> Gender<span class="required">*</span></label>
								<div class="col-md-9">
									<label class="radio-inline">
										<input type="radio" class="custom-control-input" [(ngModel)]="gender" name="gender" value="Male"><span class="label-text">Male</span>
									</label>&nbsp;&nbsp;&nbsp;&nbsp;
									<label class="radio-inline">
										<input type="radio" class="custom-control-input" [(ngModel)]="gender" name="gender" value="Female"><span class="label-text">Female</span>
									</label>
                                </div>
						   </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<label class="control-label col-md-3" for="email_id"> Email<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="email_id" id="email_id" name="email_id" placeholder="Enter Email" type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<label class="control-label col-md-3" for="pass"> Password<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="pass" id="pass" name="pass" placeholder="Enter Password" type="password">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<label class="control-label col-md-3" for="confirm_pass"> Confirm Password<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="confirm_pass" id="confirm_pass" name="confirm_pass" placeholder="Enter Confirm Password" type="password">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<div class="col-md-3"></div>
							<div class="col-md-9">
								<re-captcha [(ngModel)]="declarativeFormCaptchaValue" name="captcha" required></re-captcha>
							</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="submit" (click)="onregSubmit()" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->