<app-loader *ngIf="loader"></app-loader>
 <app-navbar></app-navbar>
<div class="content-wrapper animated fadeInRight container">
<div class="content"> 
	<div class="row">
	   <div class="col-lg-12">
	     <div class="box box-primary ">
			<div class="ibox float-e-margins">
				<div class="box-header with-border">
					  <h3 class="box-title">Enquiry List</h3>
				</div>
				
				<div class="box-body">
					<table id="blog_cat_table" class="table table-bordered">
						<thead>
							<tr>
							  <th style="width: 10px">S.no</th>
							  <th>Name</th>
							  <th>Email</th>
							  <th>Subject</th>
							  <th>Message</th>
							  <th>Date</th>
							  <th>Time</th>
							  <th style="width: 60px">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of enquirylist; let index = index">
							  <td>{{index + 1}}.</td> 
							  <td>{{item.contact_name}}</td>
							  <td>{{item.contact_email}}</td>
							  <td>{{item.contact_subject}}</td>
							  <td>{{item.contact_message}}</td>
							  <td>{{item.created_date| date : "yyyy-MM-dd"}}</td>
							  <td>{{item.created_time}}</td>
							  <td>
								<a tooltip="Remove" placement="bottom" show-delay="500" href="javascript:void(0);"  (click)="remove_enquiry(item._id)" ><span class="label label-danger">Remove</span></a>
							  </td>
							</tr>
						</tbody>
				  </table>
				</div> 
			</div>
		</div>
		</div>
		
	</div>
	</div>
</div>
<!---------------------------- Modal for Browse Image-------------------------->
