<app-loader *ngIf="loader"></app-loader>
<section class="vbox" style="background-color: white;">
	<app-sidebar></app-sidebar>

	<section>
		<section class="hbox stretch">
			<section id="content">
				<section class="hbox stretch">
					<section>
						<section class="vbox">
							<section class="scrollable padder-lg w-f-md" id="bjax-target" style="min-height: 455px;padding-top: 33px;">
							<div class="container">
							<div class="row">
							<div id="notfound">
								<div class="notfound">
									<div class="notfound-404">
										<h1>Sorry the page you are looking for doesn't exit</h1>
									</div>
									<h2>Please check our popular games</h2>
								</div>
							</div>
									<ul class="game-port">
								<span *ngFor="let item1 of searchgamelist; let index = index">
									<li class="item" *ngFor="let item of item1; let index = index">
										<a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}" >
											<div class="pos-rlt">
												<div class="item-overlay opacity">
													 <div class="bottom">
														 <span class="pull-left"><small>RATING</small><br>4.5/5</span>
														 <span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
													</div>
												</div>
												<img src="{{item.game_image}}" alt="" class="r r-2x img-full" style="width: 150px;height: 148px;">
											</div>
										</a>
									</li>
									
									</span>
								</ul>
								</div>
							</div>
							</section>
							<br>
							<br>
							<br>
							<br>
							<app-footer></app-footer>
							
							
						</section>
					</section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
			</section>
		</section>
	</section>
</section>