<app-loader *ngIf="loader"></app-loader>
 <app-navbar></app-navbar>
<div class="content-wrapper animated fadeInRight container">
<div class="content"> 
	<div class="row">
	   <div class="col-lg-12">
	     <div class="box box-primary ">
			<div class="ibox float-e-margins">
				<div class="box-header with-border">
					  <h3 class="box-title">Game Report</h3>
				</div>
				
				<div class="box-body">
					<table id="blog_cat_table" class="table table-bordered">
						<thead>
							<tr>
							  <th style="width: 10px">S.no</th>
							  <th>Game Name</th>
							  <th>Game Category</th>
							  <th>Game Link</th>
							  <th>Message</th>
							  <th>Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of reportlist; let index = index">
							  <td>{{index + 1}}.</td> 
							  <td>{{item.game_title}}</td>
							  <td>{{item.game_category_name}}</td>
							  <td>{{item.report_subject}} <a href="{{item.report_subject}}" target="_blank"><i class="fa fa-eye"></i></a></td>
							  <td>{{item.report_message}}</td>
							  <td>
							  <a tooltip="Edit" placement="bottom" show-delay="500" href="javascript:void(0);" (click)="edit_report(item._id, item.report_message)"><i data-toggle="modal" data-target="#editCategory" ><span class="label label-success">Edit</span></i></a> &nbsp;&nbsp;
                                                        <a tooltip="Remove" placement="bottom" show-delay="500" href="javascript:void(0);"  (click)="remove_feedback(item._id)"><span class="label label-danger">Remove</span></a>
							  </td>
							  
							</tr>
						</tbody>
				  </table>
				</div> 
			</div>
		</div>
		</div>
		
	</div>
	</div>
</div>
<!---------------------------- Modal for Browse Image-------------------------->
<div class="modal fade" id="editCategory" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3> Game Report</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                 <div id="headMsg"></div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                           

                            <label class="control-label col-md-3" for="report_message"> Message <span class="required">*</span></label>
                            <div class="col-md-9">
                                <textarea class="form-control report_message" style="width : 100%" [(ngModel)]="report_message" id="report_message" placeholder="Game report message" > </textarea>
                            </div>
                        </div>
					
						
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default close_btn" data-dismiss="modal">Close</button>
                            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Save</button>
                        </div>
              
                </div>
            </div>
        </div>
    </div>
</div>