<app-loader *ngIf="loader"></app-loader> 

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  routerLink="/dashboard" >Feenu</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      
	   <ul class="nav navbar-nav" data-widget="tree">
			<li class="dropdown"  *ngFor="let item of admin_menu; let index = index">
				<a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" href="javascript:void(0);">
				 <span>{{item.module_name}}</span><span class="caret"></span>
				</a>
				<ul class="dropdown-menu" >
					<li *ngFor="let i of admin_sub_menu; let index = index"><a href="{{i.submodule_link}}" *ngIf="item.module_id == i.module_id" ><i class="fa fa-circle-o"></i>{{i.submodule_name}}</a></li>
				</ul>
			</li>
        </ul>
      <ul class="nav navbar-nav navbar-right">
       
        <li class="dropdown adminmenu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{feenu_admin_name}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/dashboard"  class="btn btn-default btn-flat">Dashboard</a></li>
            <li><a routerLink="/staffprofile"  class="btn btn-default btn-flat"> Profile</a></li>
            <li><a href="javascript:void(0);" data-toggle="modal" data-target="#browseChangePassword"  class="btn btn-default btn-flat">Change Password</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:void(0);" (click)="logoutadmin()"  class="btn btn-default btn-flat">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


  
  
<div class="modal fade" id="browseChangePassword" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3> Change Password</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="current_password"> Current Password <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" style="width : 100%" [(ngModel)]="current_password" id="current_password" name="current_password" placeholder="Old Password" >
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="new_password"> New Password <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" style="width : 100%" [(ngModel)]="new_password" id="new_password" name="new_password" placeholder="New Password" >
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="form-group row">
                            <label class="control-label col-md-3" for="confirm_password"> Confirm Password <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input type="password" class="form-control" style="width : 100%" [(ngModel)]="confirm_password" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" (click)="onChangePassowrdSubmit()" class="btn btn-primary">Save</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
