.navbar{
    cursor: pointer;
}
aside{background-color: #222d32;}
.fa-circle-o{padding-right: 10px;}
.adminmenu .dropdown-menu>li>a {
    padding: 5px 15px;
    border: none;
    text-align: right; 
}