.modal_loader{
    height:  100%;
    width: 100%;
    top: 0;
    left: 0;
    display:  flex;
    align-items:  center;
    justify-content:  center;
    background: #807f804f;
    z-index:  10000;
}