<app-loader *ngIf="loader"></app-loader>
<section class="vbox" style="background-color: white;">
	<app-sidebar></app-sidebar>

	<section>
		<section class="hbox stretch">
			<section id="content">
				<section class="hbox stretch">
					<section>
						<section class="vbox">
							<section class="scrollable padder-lg w-f-md" id="bjax-target" style="min-height: 455px;padding-top: 33px;">
							<div class="container">
							<div class="row">
							<h4 style="text-align: center;font-weight: bold;font-size: 28px;">Sitemap</h4>
							<div class="sitemap">


		<nav class="primaryNav">
			<ul>
				<li id="home" style="margin-top: -6em;    width: 157px;"><a routerLink="/home">Home</a></li>
				
				<li style="    width: 157px;"><a >Games</a>
					<ul *ngFor="let item of game_list; let index = index">
						<li ><a routerLink="/g/{{item.game_slug}}" >{{item.game_title}}</a></li>
					</ul>
				</li>
				<li style="width: 157px;"><a routerLink="/aboutus">About Us</a>
					
				</li>
				<li style="width: 157px;"><a routerLink="/privacy">Privacy</a>
					
				</li>
				<li style="width: 157px;"><a  style="background-color: chocolate;">Search By Tags</a>
				<ul *ngFor="let item of gametagslist; let index = index">
						<li><a routerLink="/t/{{item.tag_slug}}" style="background-color: darkgoldenrod;">{{item.tag_name}}</a></li>
					</ul>
				</li>
				<li style="width: 157px;" ><a routerLink="/contact-us">Contact</a></li>
				<li style="width: 157px;"><a routerLink="/cookies-policy">Cookies Policy</a></li>
				<li style="width: 157px;">
				     <a  style="background-color: chocolate;">Search By Category</a>
				     <ul *ngFor="let item of gamecategorylist; let index = index">
						<li ><a routerLink="/c/{{item.game_category_name}}" style="background-color: darkgoldenrod;">{{item.game_category_name}}</a></li>
					</ul>
				</li>
				
			</ul>

		</nav>

	</div> 
								</div>
							</div>
							</section>
							<app-footer></app-footer>
							
							
						</section>
					</section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
			</section>
		</section>
	</section>
</section>