<app-loader *ngIf="loader"></app-loader>
<div class="login-box">
  <div class="login-logo">
    <p>Admin</p>
  </div>
  <!-- /.login-logo --> 
  <div class="login-box-body">
    <p class="login-box-msg">Forgot  password</p>

   <form id="forgetForm"  class="form-horizontal" role="form">
   <div class="form-group has-feedback">
   <input type="email" class="form-control" [(ngModel)]="admin_email"  id="admin_email" name="admin_email" placeholder="Email">
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
   
      <div class="row">
        <div class="col-xs-8">
          
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" (click)="forgetpassword()"  class="btn btn-primary btn-block btn-flat">Submit</button>
        
		</div>
        <!-- /.col -->
      </div>
	   
    </form>
<br>

  </div>
  <!-- /.login-box-body -->
</div>