<app-loader *ngIf="loader"></app-loader>
<div class="login-box container">
<div class="row">
<div class="col-md-3"> </div>
<div class="col-md-6" style="padding:110px"> 
  <div class="login-logo">
    <a href=""><img src="assets/images/logo.png"></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>

    <form action="" method="post">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" [(ngModel)]="admin_email"  id="admin_email" name="admin_email" placeholder="Email">
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" [(ngModel)]="admin_password"  id="admin_password" name="admin_password" placeholder="Password">
      </div>
      <div class="row">
        <div class="col-xs-8">
          
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" (click)="onSiginin()"  class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a style="display:none;"  routerLink="/admin-forgetpassword">I forgot my password</a><br>
	<a style="display:none;" routerLink="/admin-resetpassword/0">Reset password</a><br>

  </div>
</div>
<div class="col-md-3"> </div>

</div>

  <!-- /.login-box-body -->
</div>
