<app-loader *ngIf="loader"></app-loader>
<div class="login-box">
  <div class="login-logo">
    <a href="">Admin</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Reset Password</p>

   <form id="resetForm"  class="form-horizontal" role="form">
  
      <div class="form-group has-feedback">
        <input type="Password" class="form-control" [(ngModel)]="new_password"  id="new_password" name="new_password"  placeholder="New Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" [(ngModel)]="confirm_password" id="confirm_password" name="confirm_password" placeholder="Confirm Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">
          
        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" (click)="resetpassword()"  class="btn btn-primary btn-block btn-flat">Reset</button>
        </div>
        <!-- /.col -->
      </div>
    </form>


  </div>
  <!-- /.login-box-body -->
</div>