<app-loader *ngIf="loader"></app-loader>
<section class="vbox" style="background-color: white;">
	<app-sidebar></app-sidebar>
<style>
.changepass{
     padding-top: 111px;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}
</style>
	<section>
		<section class="hbox stretch">
			<section id="content">
				<section class="hbox stretch">
					<section>
						<section class="vbox" style="min-height: 777px;">
							<section class="scrollable padder-lg w-f-md" id="bjax-target">
					<div  style="padding-top: 0px;">
						
				   
				      <h2>Game Favorite List </h2>
					   <ul class="game-port">
						<li class="item game_new_item" *ngFor="let item1 of gamefavlist; let index = index">
							<span *ngFor="let item of item1; let index = index">
								<a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}">
									<div class="pos-rlt">
										
										<div class="item-overlay opacity game_new_item_active">
											<div class="bottom">
												<span class="pull-left"><small>RATING</small><br>{{item.final_rating}}/5</span>
												<span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
											</div>
										</div>
										<picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
											<source srcset="{{item.game_image}}" type="image/webp">
											<source srcset="{{item.game_image_mobile}}" type="image/jpeg">
											<img src="{{item.game_image_mobile}}">
										</picture>
									</div>
								</a>
							</span>
						</li>
					  </ul>
					   <div class="no_result alert alert-warning display_none" role="alert">Data not found</div> 
				   </div>
							</section>
							
							
							
						</section>
						<app-footer></app-footer>
					</section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
			</section>
		</section>
	</section>
</section>