<app-loader *ngIf="loader"></app-loader>
 <app-navbar></app-navbar>
<div class="content-wrapper animated fadeInRight container">
<div class="content"> 
	<div class="row">
	   <div class="col-lg-12">
	   
	     <div class="box box-primary ">
			<div class="ibox float-e-margins">
				<div class="box-header with-border">
					  <h3 class="box-title">Comment List</h3>
				</div>
				<button  class="btn btn-primary" (click)="approval(0,20,'Approved')" >Approved</button>
				<button  class="btn btn-primary" (click)="approval(0,20,'Unapproved')" >Unapproved </button>
			
				<div class="box-body" style="    padding-top: 11px;">
					<table id="blog_cat_table" class="table table-bordered">
						<thead>
							<tr>
							  <th style="width: 10px">S.no</th>
							  <th>Game Title</th>
							  <th>User Name</th>
							  <th>User Comment</th>
							  <th>Status</th>
							  <th style="width: 60px;display:none">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of commentlist; let index = index">
							  <td>{{index + 1}}.</td> 
							  <td> <a (click)="open_game(item.game_id)" tooltip="Game detail" placement="bottom" show-delay="500" href="javascript:void(0);"><span >{{item.game_title}}</span></a></td>
							  <td><a href="javascript:void(0);" routerLink="/u/{{item.user_name}}"  target="_blank">{{item.user_name}}</a></td>
							  <td>{{item.user_comment}}</td>
							  <td> 
							  <a *ngIf="item.comment_status == 'Approved'"  tooltip="Approval status" placement="bottom" show-delay="500" href="javascript:void(0);"><span (click)="editcommentstatus(item._id, 'Unapproved')" class="label label-success">{{item.comment_status}}</span></a>
							  <a *ngIf="item.comment_status == 'Unapproved'"  tooltip="Approval status" placement="bottom" show-delay="500" href="javascript:void(0);"><span (click)="editcommentstatus(item._id, 'Approved')" class="label label-danger">{{item.comment_status}}</span></a>
							  <a style="display:none" tooltip="Approval status" placement="bottom" show-delay="500" href="javascript:void(0);" (click)="editcommentstatus(item._id, item.comment_status)"> <i data-toggle="modal" data-target="#browseChangeStatus" > <span class="label label-success">change status</span></i></a>
							</td>
							  <td style="width: 132px;display:none">
								<a style="display:none" (click)="delete_comment(item._id)" ><span class="label label-danger">Remove</span></a>
								 <a style="display:none"  href="javascript:void(0);" (click)="emp_access(item._id,item.first_name)"> <i data-toggle="modal" data-target="#browseAccessModal">Define Access</i></a>
							  </td>
							</tr>
						</tbody>
				  </table>
				  
				    <div class="row products_main products_pagination ">
	
								<div class="col-sm-3"></div>
								<div class="col-sm-6">
									<div  *ngIf="search == 'no'" >
										<div class="pagei-nav">
											<ul class="pagination_set">
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setpage(0,$event)" >First</a></span>
												</li> 
												<li class="set_page selectpage{{i+1}} " *ngFor="let i of count"  [className]="i == (current_page-2)  || i == (current_page-1)  || i == current_page || (i) == (current_page+1)  || (i) == (current_page+2)  ?  null : 'display_none'" >
													<span [ngClass]="(i==current_page)?'active':'noactive'" ><a class="{{current_page-3}}"  (click)="setpage(i,$event)" >{{i+1}}</a></span>
												</li> 
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setpage(totalcount,$event)" >Last</a></span>
												</li> 
											</ul>
											
											
										</div>
									</div>
									 <div  *ngIf="search == 'yes'">
										<div class="pagei-nav">
											<ul>
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setsearchpage(0,$event)" >First</a></span>
												</li> 
												
												<li *ngFor="let i of count"  [className]="i == (current_page-2)  || i == (current_page-1)  || i == current_page || (i) == (current_page+1)  || (i) == (current_page+2)  ?  null : 'display_none'" >
													<a  (click)="setsearchpage(i,$event)"  >{{i+1}}</a>
												</li>
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setsearchpage(totalcount,$event)" >Last</a></span>
												</li> 
											</ul>
										</div>
									</div> 
								</div> 
								<div class="col-sm-3"></div>
								
							</div>
				  
				</div> 
			</div>
		</div>
		</div>
		
	</div>
	</div>
</div>
<!---------------------------- Modal for Browse Image-------------------------->
<div class="modal fade" id="browseChangeStatus" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Approval permission</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <form  id="faq_form2" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
                        <input class="form-control" id="user_id" name="user_id" value=0 type="hidden">
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <label class="control-label col-md-3" for="faq_status">Comment Status<span class="required">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control" [(ngModel)]="commentstatus"  id="commentstatus" name="commentstatus">
                                    <option value="">Select Status</option>
                                    <option value="Approved">Approved</option>
                                    <option value="Unapproved">Unapproved</option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit"  class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="browseAccessModal" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Update Employee Access</h3>
            </div> 
            <div class="modal-body row">
				<div class="col-md-12">
					<form id="access_define_form" method="post" class="form-horizontal">
						<input type="hidden" [(ngModel)]="emp_id" name="emp_id" id="emp_id" value="">
						<div class="clearfix"></div>
						<div class="form-group col-md-12">
							<label class="control-label col-md-3" for="emp_name2">Employee Name<span class="required">*</span></label>
							<div class="col-md-9">
								<input type="text" class="form-control" [(ngModel)]="emp_name" id="emp_name" name="emp_name" value="">
							</div>
						</div>
						<div class="form-group col-md-12">
							<label class="control-label col-md-3" for="access_define">Access Define<span class="required">*</span></label>
							<div class="col-md-9">
								<div class="">
									<table id="blog_cat_table" class="table table-bordered">
						<thead>
							<tr>
							  <th style="width: 10px">S.no</th>
							  <th>module_name</th>
							  <th>submodule_name</th>
							  <th style="width: 60px">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of submodulelist; let index = index" class="accessdata">
							
							 <td>{{index + 1}}.</td> 
							  <td class="submodule_id" style="display:none">{{item._id}}</td>
							  <td>{{item.module_name}}</td>
							  <td class="module_id" style="display:none">{{item.module_id}}</td>
							  <td>{{item.submodule_name}}</td>
							  <td><input type="checkbox" name="{{item.module_id}}"  value="{{item._id}}"></td>
							
							  
							</tr>
						</tbody>
				  </table>
								</div>
								<div class="submenu-error"></div>
							</div>
						</div>
						<div class="clearfix"></div>
                        
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" (click)="accessSubmit()" class="btn btn-primary">Save</button>
						</div>
					</form>
					
				</div>
			</div>
        </div>
    </div>