<app-loader *ngIf="loader"></app-loader>
 <app-navbar></app-navbar>
 <style>
 CKEDITOR.replace('Editor',{
    height: '600px'
});
.display_none
{
  display:none;
}
 </style>
<div class="content-wrapper animated fadeInRight container">
<div class="content"> 
	<div class="row">
	   <div class="col-lg-12">
	     <div class="box box-primary ">
			<div class="ibox float-e-margins">
				<div class="box-header with-border">
					  <h3 class="box-title">Edit Profile</h3>
				</div>
				
				<div class="box-body">
					<form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                          
                            <label class="control-label col-md-3" for="first_name"> First Name<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="first_name" id="first_name" name="first_name" placeholder="First Name" type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="last_name"> Last Name<span class="required">*</span></label>
                            <div class="col-md-9">
                               <input class="form-control" style="width : 100%" [(ngModel)]="last_name" id="last_name" name="last_name" placeholder="Last Name" type="text">
                           </div>
							</div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="user_name"> User Name<span class="required">*</span></label>
                            <div class="col-md-9">
                               <input class="form-control" style="width : 100%" [(ngModel)]="user_name" id="user_name" name="user_name" placeholder="User Name" type="text">
                           </div>
							</div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
			                   <label class="col-lg-3 control-label"  for="blog_img">Profile Image <span class="required">*</span></label>
						      <div class="col-md-9">
				          <figcaption><button (click)="chooseimg()" data-toggle="modal"  data-target="#registerImage" class="btn"> Choose Image</button> <button (click)="deleteimg()"  class="btn"> Delete Image</button></figcaption> 
				               <label class="cabinet center-block">
					            <figure>
						        <img data-toggle="modal"  data-target="#registerImage"  src="{{user_image_src}}" class="gambar img-responsive img-thumbnail" id="item-img-output" />
						 
					             </figure>
				             </label>
				          <input type="hidden" [(ngModel)]="admin_img" class="form-control admin_img" id="admin_img" name="admin_img"  value="">
				                <div class="image-preview inline_block">
				 						
				                 </div>
			             </div>
		                    </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							 <label class="control-label col-md-3" for="gender"> Gender<span class="required">*</span></label>
                            <div class="col-md-9">
                             <label class="radio-inline"><input type="radio" class="custom-control-input" [(ngModel)]="gender" name="gender" id="gender" value="Male">Male</label>                             
							<label class="radio-inline"><input type="radio" class="custom-control-input" [(ngModel)]="gender" name="gender" id="gender" value="Female">Female</label>  </div>
						   </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="email_id"> Email<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="email_id" id="email_id" name="email_id" placeholder="Enter Email" readonly type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="fb_link">Facebook Profile Link(Optional)</label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="fb_link" id="fb_link" name="fb_link" placeholder="Enter Facebook Profile Link"  type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="twitter_link"> Twitter Link (Optional)</label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="twitter_link" id="twitter_link" name="twitter_link" placeholder="Enter Twitter Profile Link"  type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="google_plus_link">Google Plus link (Optional)</label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="google_plus_link" id="google_plus_link" name="google_plus_link" placeholder="Enter Google Plus link"  type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="profile_show">Profile Show</label>
                            <div class="col-md-9">
                              <select class="form-control  " style="width : 100%"  [(ngModel)]="profile_show"  id="profile_show"  name="profile_show" >
								<option   value="Public">Public</option>
								<option   value="Private">Private</option>
							</select>
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="email_id"><span class="required">*</span></label>
                            <div class="col-md-9">
                              <button type="submit" (click)="onSubmit()" class="btn btn-primary">Save</button>
						   </div>
                            </div>
                        <div class="clearfix"></div>
                        
                    </form>
				</div>
			</div>
		</div>
		</div>
		
	</div>
	</div>
</div>
<div class="modal fade" id="registerImage" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header display_initial">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3>Upload Image</h3>
					</div>
					<div class="modal-body row">
							<div class="col-md-12">
				<div id="headMsg"></div>
				<input type="file" style="border: none;" class="form-control mycropimageuploadinput" (change)=" fileChangeEvent($event)"/>
				<image-cropper
						[imageChangedEvent]="imageChangedEvent"
						[maintainAspectRatio]="true"
						[aspectRatio]="3 / 3"
						[resizeToWidth]="150"
						format="webp"
						(imageCropped)="imageCropped($event)"
				></image-cropper>
				<img style="width:100px;height:100px;" [src]="croppedImage" *ngIf="croppedImage"/>
				
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button id= 'close_register_modal' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" (click)="onSaveCropImage()" class="btn btn-primary submit_img">Submit</button>
				</div>
									
							</div>
					</div>
			</div>
	</div>
</div>
<!---------------------------- Modal for Browse Image-------------------------->
