<app-loader *ngIf="loader"></app-loader>
 <app-navbar></app-navbar>
<div class="content-wrapper animated fadeInRight container">
<div class="content"> 
	<div class="row">
	   <div class="col-lg-12">
	     <div class="box box-primary ">
			<div class="ibox float-e-margins">
				<div class="box-header with-border">
					  <h3 class="box-title">User List</h3>
				</div>
				<button  class="btn btn-primary" (click)="approval(0,20,'Approved')" >Approved</button>
				<button  class="btn btn-primary" (click)="approval(0,20,'Unapproved')" >Unapproved </button>
			 <div class="searchbar" style="float: right;    margin-left: 11px;" (keydown.enter)="keyDownFunction($event)">
				  <div style="float: left;padding-right: 11px;padding-bottom: 11px;">
						
							<div>
							
							</div>
						  </div>
				  <input class="search_input form-control" style=" width:auto;display: inline;" type="text"  [(ngModel)]="email_search_string"  placeholder="Search by email .." >
				  <input class="search_input form-control" style=" width:auto;display: inline;" type="text"  [(ngModel)]="search_string"  placeholder="Search by username ..">
				  
				  <a href="javascript:void(0);" (click)="go_to_search_page_query(0 ,20)" class="btn btn-primary">Search</a>
				</div>
			<br>
			<br>
				<div class="box-body">
					<table id="blog_cat_table" class="table table-bordered">
						<thead>
							<tr>
							  <th style="width: 10px">S.no</th>
							  <th>Name</th>
							  <th>User Name</th>
							  <th>Email</th>
							  <th>Status</th>
							  <th>Image</th>
							  <th >Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of userlist; let index = index">
							  <td>{{index1 + index}}.</td> 
							  <td>{{item.first_name}}</td>
							  <td>{{item.user_name}}</td>
							  <td>{{item.email_id}}</td>
							  <td>{{item.userstatus}}
							  <a tooltip="Change status" placement="bottom" show-delay="500" href="javascript:void(0);" (click)="edituserstatus(item._id, item.userstatus)"> <i data-toggle="modal" data-target="#browseChangeStatus" ><span class="label label-success">Edit</span></i></a>
							</td>

							 <td>
							 <span *ngIf="item.user_image == 'profile.png'">
							 <img src="{{this.panelService.returnbaseUrl()+'/'+(item.user_image)}}" style="width: 55px;" >
							 </span>
							 <span *ngIf="item.user_image != 'profile.png'">
							 <img src="{{item.user_image}}" style="width: 55px;border-radius: 50px;" >
							 </span>
							 <br>
							 <br>
							 <div style="float: left;">
							 <div *ngIf="item.profilepicturestatus == 'Unapproved'" >

								<button style="float: right;" type="button" (click)="profilepic(item._id,item.user_image,'Approved')" class="btn btn-primary btn-xs">Make Profile Pic Approved</button>
								</div>
								<div  *ngIf="item.profilepicturestatus == 'Approved'" >
								<button  style="float: right;"  type="button" (click)="profilepic(item._id,item.user_image,'Unapproved')" class="btn btn-danger btn-xs">Make Profile Pic Unapproved</button>
							    </div>
							  </div>
							  <div style="float: right;">
							  <button  style="float: right;"  type="button" (click)="profilepic(item._id,item.user_image,'reject')" class="btn btn-danger btn-xs">Reject</button>
							    
							  </div>
							</td>
							  <td  style="text-align: center;">
							  	<a style="float: left;" href="javascript.void(0)" routerLink="/user-edit/{{item._id}}"><span class="label label-success">Edit</span></a>
							
								<a  style="cursor:pointer" (click)="delete_user(item._id)" ><span class="label label-danger">Remove</span></a>
								
							 </td>
							</tr>
						</tbody>
				  </table>
				  
				   <div class="row products_main products_pagination ">
	
								<div class="col-sm-3"></div>
								<div class="col-sm-6">
									<div  *ngIf="search == 'no'" >
										<div class="pagei-nav">
											<ul class="pagination_set">
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setpage(0,$event)" >First</a></span>
												</li> 
												<li class="set_page selectpage{{i+1}} " *ngFor="let i of count"  [className]="i == (current_page-2)  || i == (current_page-1)  || i == current_page || (i) == (current_page+1)  || (i) == (current_page+2)  ?  null : 'display_none'" >
													<span [ngClass]="(i==current_page)?'active':'noactive'" ><a class="{{current_page-3}}"  (click)="setpage(i,$event)" >{{i+1}}</a></span>
												</li> 
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setpage(totalcount,$event)" >Last</a></span>
												</li> 
											</ul>
											
											
										</div>
									</div>
									 <div  *ngIf="search == 'yes'">
										<div class="pagei-nav">
											<ul>
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setsearchpage(0,$event)" >First</a></span>
												</li> 
												
												<li *ngFor="let i of count"  [className]="i == (current_page-2)  || i == (current_page-1)  || i == current_page || (i) == (current_page+1)  || (i) == (current_page+2)  ?  null : 'display_none'" >
													<a  (click)="setsearchpage(i,$event)"  >{{i+1}}</a>
												</li>
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setsearchpage(totalcount,$event)" >Last</a></span>
												</li> 
											</ul>
										</div>
									</div> 
									 <div  *ngIf="search == 'filter'">
										<div class="pagei-nav">
											<ul>
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setsearchpage1(0,$event)" >First</a></span>
												</li> 
												
												<li *ngFor="let i of count"  [className]="i == (current_page-2)  || i == (current_page-1)  || i == current_page || (i) == (current_page+1)  || (i) == (current_page+2)  ?  null : 'display_none'" >
													<a  (click)="setsearchpage1(i,$event)"  >{{i+1}}</a>
												</li>
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setsearchpage1(totalcount,$event)" >Last</a></span>
												</li> 
											</ul>
										</div>
									</div> 
								</div> 
								<div class="col-sm-3"></div>
								
							</div>
				  
				</div> 
			</div>
		</div>
		</div>
		
	</div>
	</div>
</div>
<!---------------------------- Modal for Browse Image-------------------------->
<div class="modal fade" id="browseChangeStatus" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Change User Status</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <form  id="faq_form2" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
                        <input class="form-control" id="user_id" name="user_id" value=0 type="hidden">
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <label class="control-label col-md-3" for="faq_status">User Status<span class="required">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control" [(ngModel)]="userstatus"  id="userstatus" name="userstatus">
                                    <option value="">Select Status</option>
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                    <option value="Ban">Ban</option>
                                   
                                </select>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="browseAccessModal" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Update Employee Access</h3>
            </div> 
            <div class="modal-body row">
				<div class="col-md-12">
					<form id="access_define_form" method="post" class="form-horizontal">
						<input type="hidden" [(ngModel)]="emp_id" name="emp_id" id="emp_id" value="">
						<div class="clearfix"></div>
						<div class="form-group col-md-12">
							<label class="control-label col-md-3" for="emp_name2">Employee Name<span class="required">*</span></label>
							<div class="col-md-9">
								<input type="text" class="form-control" [(ngModel)]="emp_name" id="emp_name" name="emp_name" value="">
							</div>
						</div>
						<div class="form-group col-md-12">
							<label class="control-label col-md-3" for="access_define">Access Define<span class="required">*</span></label>
							<div class="col-md-9">
								<div class="">
									<table id="blog_cat_table" class="table table-bordered">
						<thead>
							<tr>
							  <th style="width: 10px">S.no</th>
							  <th>module_name</th>
							  <th>submodule_name</th>
							  <th style="width: 60px">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of submodulelist; let index = index" class="accessdata">
							
							 <td>{{index + 1}}.</td> 
							  <td class="submodule_id" style="display:none">{{item._id}}</td>
							  <td>{{item.module_name}}</td>
							  <td class="module_id" style="display:none">{{item.module_id}}</td>
							  <td>{{item.submodule_name}}</td>
							  <td><input type="checkbox" name="{{item.module_id}}"  value="{{item._id}}"></td>
							
							  
							</tr>
						</tbody>
				  </table>
								</div>
								<div class="submenu-error"></div>
							</div>
						</div>
						<div class="clearfix"></div>
                        
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" (click)="accessSubmit()" class="btn btn-primary">Save</button>
						</div>
					</form>
					
				</div>
			</div>
        </div>
    </div>