<app-loader *ngIf="loader"></app-loader>
<section class="vbox" style="background-color: white;">
	<app-sidebar></app-sidebar>

	<section>
		<section class="hbox stretch">
			<section id="content">
				<section class="hbox stretch">
					<section>
						<section class="vbox">
							<section class="scrollable padder-lg w-f-md" id="bjax-target" style="min-height: 455px;padding-top: 70px;">
							<div class="container">
							<div class="row">
							
							   <div [innerHTML]="content"></div>	
								</div>
							</div>
							
							<picture>
								<source srcset="https://static.feenu.com/game-thumbs/1566822164351_651566822164351742divxv.webp" type="image/webp">
								<source srcset="https://feenu.com/assets/img/linkedin_20.png" type="image/jpeg">
								<img src="https://feenu.com/assets/img/linkedin_20.png">
							</picture> 

							</section>
							<app-footer></app-footer>
							
							
						</section>
					</section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
			</section>
		</section>
	</section>
</section>