<app-loader *ngIf="loader"></app-loader>
<section class="vbox" style="background-color: white;">
    <app-sidebar></app-sidebar>

    <section>
        <section class="hbox stretch">
            <section id="content">
                <section class="hbox stretch">
                    <section>
                        <section class="vbox" style="padding-top: 70px;min-height:700px">
                            <section class="scrollable padder-lg w-f-md" id="bjax-target">
                                <div class="container">
                                    <div class="row" style="text-align: center;" >
                                        <h3 > Contact Us </h3>
                                     <div [innerHTML]="content"></div> 
                                    </div>
                                </div>
                            </section>
                            <div class="row" style="padding-top: 35px;">
                                <h3 style="text-align: center;">CONTACT FORM</h3>
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-6" style="margin-left: 12px;margin-right: 12px;">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label class="col-form-label">Name<span class="required">*</span></label>
                                            <input type="name" class="form-control" id="contact_name" [(ngModel)]="contact_name" name="contact_name" placeholder="Name">
                                        </div>
                                        <div class="col-sm-6">
                                            <label class="col-form-label">Email<span class="required">*</span></label>
                                            <input type="email" class="form-control" id="contact_email" [(ngModel)]="contact_email" name="contact_email" placeholder="Email">
                                        </div>
                                        <div class="col-sm-12">
                                            <br>
                                            <label class="col-form-label">Subject<span class="required">*</span></label>
                                            <select class="form-control sub" style="margin-top: 0;" [(ngModel)]="contact_subject" name="contact_subject" placeholder="Select subject">
                                                <option value="0" disabled>Select subject </option>
                                                <option value="Submit Game">Submit Game</option>
                                                <option value="DMCA">DMCA</option>
                                                <option value="Business Relation">Business Relation</option>
                                                <option value="Feedback">Feedback</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12">
                                            <label class="col-form-label">Message<span class="required">*</span></label>
                                            <textarea class="form-control mess" id="contact_message" [(ngModel)]="contact_message" name="contact_message" placeholder="Message"></textarea>
                                        </div>
                                        <br>
                                        <div class="col-sm-12" style="padding-bottom: 11px;padding-top: 11px;">
                                            <button style="width: 100%;" type="submit" (click)="enquirySubmit()" class="btn btn-primary">Submit</button>
                                        </div>
                                        <br>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <app-footer></app-footer>
                        </section>
                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
            </section>
        </section>
    </section>
</section>