<app-loader *ngIf="loader"></app-loader>
<section class="vbox" style="background-color: white;">
	<app-sidebar></app-sidebar>

	<section>
		<section class="hbox stretch">
			<section id="content">
				<section class="hbox stretch">
					<section>
						<section class="vbox">
							<section class="scrollable padder-lg w-f-md" id="bjax-target" style="padding-top: 70px;">
							<div class="container">
								<div class="row">
									
									<div [innerHTML]="content"></div>	
								</div>
							</div>
							</section>
							<app-footer></app-footer>
						</section>
					</section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
			</section>
		</section>
	</section>
</section>