<app-loader *ngIf="loader"></app-loader>
 <app-navbar></app-navbar>
 
 <div class="content-wrapper">
 <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Public Content</h3>
			  
			 </div>
          
				<div class="col-lg-12 col-md-12" id="headMsg"></div>
				<div class="clearfix"></div>
				<div class="widget-content padded">
					<div class="form-group">
					 <label class="col-md-3 label-right" for="content">Public Category<span class="required">*</span></label>
						<div class="col-md-7">
							<select class="form-control content_cat_" (change)="public_conten_change_get_detail()"  [(ngModel)]="content_cat_" id="content_cat_" name="content_cat_">
								<option value="">Select Category</option>
								<option  *ngFor="let item of contentlist; let index = index" value="{{item._id}}">{{item.content_title}}</option>
								
							</select>
						</div>
					</div>
					<div class="clearfix mrgBot50"></div>
					
							<div class="panel-body">
									<input type="hidden" name="content_id" id="content_id" value="0">
									
									
									<div class="form-group">
										<label class="col-md-3 label-right" for="content">Content<span class="required">*</span></label>
										<div class="col-md-7">
											<ckeditor  [(ngModel)]="editorData"  (change)="onChangeckeditor($event)" [editor]="Editor" ></ckeditor>
											<div class="content-error"></div>
										</div>
									</div>	<br/><br/><br/><br/><br/>
									<div class="form-group">
										 <div class="input-group col-md-6 col-md-offset-3" style="margin-top: 20px;"> 
											<button id="btn-signup" (click)="onSubmit()"  type="submit" class="btn btn-primary">Submit</button>
										 </div>
									</div>	
								
							</div>
						
				
				</div>

		  </div>
          <!-- /.box -->

        </div>
        </div>

   
      <!-- /.row -->
    </section>
    <!-- /.content -->
 </div>