.mob_cont_view{
	width: 584px;
	height: 150px;
}

@media only screen and (max-width: 767px) and (min-width: 200px){
.mobile_view_top{
	margin-top:35%;
}
.profile-sidebar{
	width:100%!important;
}
.mob_cont_view{
	float:left!important;
	margin-top:55px;
}
.game_new_item{
	width:129px;
}
}