<app-loader *ngIf="loader"></app-loader>
<section class="vbox" style="background-color: white;">
	<app-sidebar></app-sidebar>
<style>
.changepass{
     padding-top: 111px;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}
.profile-image{
box-sizing: border-box;
    background: #fff;
    width: 220px;
    height: 220px;
    position: absolute;
    left: 20px;
    bottom: -30px;
    padding: 5px;
    border: 1px solid #dedede;

}
.profile-sidebar{
    width: 270px;
    float: left;
    border-right: 1px solid #d8d8d8;
    position: relative;
    z-index: 10;
    padding: 30px 0 0;
    margin: 0;
    font-size: 13px;

}
.profile-section{
    padding: 20px 20px 25px;
    border-bottom: 1px solid #e8e8e8;
	background-color: #f8fcff;
}
.profile-main{
    background: #fff;
    width: auto;
    overflow: hidden;
    min-height: 800px;
    padding: 20px 20px 0;
    position: relative;
    left: -1px;
    border-left: 1px solid #d8d8d8;
	-webkit-box-shadow: -1px 10px 51px -8px rgba(0,0,0,0.3);
-moz-box-shadow: -1px 10px 51px -8px rgba(0,0,0,0.3);
box-shadow: -1px 10px 51px -8px rgba(0,0,0,0.3);
}
.content-list{

    display: block;
    height: 100%;
    position: relative;
    background: #fff;
	padding-bottom: 45px;
    overflow: hidden;


}
.profile-sidebar-label{
    COLOR: #999;
    margin-bottom: 10px;
}
.external-sign-in{
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 1em 0 .5em;

}
.content-container{
  float: right;
}
.content-timeline__media{
  float: left;
}
.titlegame{
    font-family: inherit;
    font-size: 1.15em;
    line-height: normal;
    font-weight: 700;
    font-style: normal;
    color: #000;
    margin: 2px 0 5px;
    padding: 0;
    transition: all .3s;
	cursor: pointer;
}
.timeline__detail__desc{
    padding: 0;
    margin: 10px 0;
    color: #444;

}
.headtop_banner{
margin-top:4%;
}
.profile-splash{
  width: 100%;
  height: 75px;
}
</style>
	<section>
	    <section class="hbox stretch">
	        <section id="content">
	            <section class="hbox stretch">
	                <section>
	                    <section class="vbox" style="min-height: 777px;">
	                        <section class="scrollable padder-lg w-f-md" id="bjax-target">
	                            <div class="container">
	                                <div class="row mobile_view_top">
	                                    <div class="col-md-12 headtop_banner">
	                                        <div class="profile-splash">
	                                            <!-- <img src="assets/images/fee.png" style="width: 1130px;" > -->
	                                        </div>
	                                        <div class="profile-splash">
	                                            <img src="{{user_img_src}}" class="profile-image">
	                                        </div>
	                                    </div>
	                                    <div class="row">
	                                        <div class="col-md-3 col-xs-12">
	                                            <div class="profile-sidebar">
	                                                <div class="profile-section">
	                                                    <span> Name </span>
	                                                    <p>{{user_name}}</p>
	                                                    <span *ngIf="user_id == user_profile_id"> Email-id</span>
	                                                    <p *ngIf="user_id == user_profile_id">{{email_id}}</p><br>
	                                                    <span *ngIf="gender != ''"> Gender </span>
	                                                    <p>{{gender}}</p>
	                                                </div>
	                                                <div class="profile-section">
	                                                    <div class="profile-sidebar-label" *ngIf="fb_link != ''">Link</div>
	                                                    <div class="external-sign-in" *ngIf="fb_link != ''">
	                                                        <a href="{{fb_link}}" target="_blank"><img src="assets/img/fb_icon_24.png"></a>
	                                                    </div>
														 <div class="external-sign-in" *ngIf="linkdin_link != ''">
	                                                        <a href="{{linkdin_link}}" target="_blank"><img src="assets/img/linkedin.png"></a>
	                                                    </div>
														 <div class="external-sign-in" *ngIf="twitter_link != ''">
	                                                        <a href="{{twitter_link}}" target="_blank"><img src="assets/img/twitter.png"></a>
	                                                    </div>
	                                                </div>
	                                                <div class="profile-section">

	                                                </div>
	                                            </div>

	                                        </div>
	                                        <div class="col-md-9">
	                                            <div class="profile-main" *ngIf="user_id != user_profile_id">
	                                                <div *ngIf="private_public == 'Public'">
	                                                    <h4>Recent Play Game</h4>
	                                                    <div *ngIf="gameplaylist != ''">
	                                                        <ul class="game-port">
	                                                            <li class="item game_new_item" *ngFor="let item of gameplaylist; let index = index">
	                                                                
	                                                                    <a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}">
	                                                                        <div class="pos-rlt">
	                                                                           
	                                                                            <div class="item-overlay opacity game_new_item_active">
	                                                                                <div class="bottom">
	                                                                                    <span class="pull-left"><small>RATING</small><br>{{item.final_rating}}/5</span>
	                                                                                    <span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
	                                                                                </div>
	                                                                            </div>
	                                                                            <picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
																					<source srcset="{{item.game_image}}" type="image/webp">
																					<source srcset="{{item.game_image_mobile}}" type="image/jpeg">
																					<img src="{{item.game_image_mobile}}">
																				</picture>
	                                                                        </div>
	                                                                    </a>
	                                                                
	                                                            </li>

	                                                        </ul>
	                                                    </div>
	                                                    <div class="row" *ngIf="gameplaylist == ''">
	                                                        <div class="alert alert-danger data_not_found display_none" role="alert">Data Not found</div>
	                                                    </div>
	                                                    <h4>Game Favorite List</h4>

	                                                    <div class="content-list">
	                                                        <ul class="game-port">
	                                                            <li class="item game_new_item" *ngFor="let item1 of gamefavlist; let index = index">
	                                                                <span *ngFor="let item of item1; let index = index">
	                                                                    <a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}">
	                                                                        <div class="pos-rlt">
	                                                                            
	                                                                            <div class="item-overlay opacity game_new_item_active">
	                                                                                <div class="bottom">
	                                                                                    <span class="pull-left"><small>RATING</small><br>{{item.final_rating}}/5</span>
	                                                                                    <span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
	                                                                                </div>
	                                                                            </div>
	                                                                            <picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
																					<source srcset="{{item.game_image}}" type="image/webp">
																					<source srcset="{{item.game_image_mobile}}" type="image/jpeg">
																					<img src="{{item.game_image_mobile}}">
																				</picture>
																			
																			</div>
	                                                                    </a>
	                                                                </span>
	                                                            </li>
	                                                        </ul>
	                                                        <div *ngIf="gamefavlist == ''">
	                                                            <div class="alert alert-danger data_not_found_fav display_none" role="alert">Data Not found</div>
	                                                        </div>
	                                                    </div>

	                                                </div>
	                                                <div class="row" *ngIf="private_public != 'Public'">
	                                                    <div class="alert alert-danger private_public display_none" role="alert">User profile is private</div>
	                                                </div>
	                                            </div>

	                                            <div class="profile-main" *ngIf="user_id == user_profile_id">

	                                                <h4>Recent Play Game</h4>
	                                                <div *ngIf="gameplaylist != ''">
	                                                    <ul class="game-port">
	                                                        <li class="item game_new_item" *ngFor="let item of gameplaylist; let index = index">
	                                                           
	                                                                <a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}">
	                                                                    <div class="pos-rlt">
	                                                                    
	                                                                        <div class="item-overlay opacity game_new_item_active">
	                                                                            <div class="bottom">
	                                                                                <span class="pull-left"><small>RATING</small><br>{{item.final_rating}}/5</span>
	                                                                                <span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
	                                                                            </div>
	                                                                        </div>
	                                                                        <picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
																					<source srcset="{{item.game_image}}" type="image/webp">
																					<source srcset="{{item.game_image_mobile}}" type="image/jpeg">
																					<img src="{{item.game_image_mobile}}">
																			</picture>
	                                                                    </div>
	                                                                </a>
	                                                        
	                                                        </li>

	                                                    </ul>
	                                                </div>
	                                                <div class="row" *ngIf="gameplaylist == ''">
	                                                    <div class="alert alert-danger data_not_found display_none" role="alert">Data Not found</div>
	                                                </div>
	                                                <h4>Game Favorite List</h4>

	                                                <div class="content-list">
	                                                    <ul class="game-port">
	                                                        <li class="item game_new_item" *ngFor="let item1 of gamefavlist; let index = index">
	                                                            <span *ngFor="let item of item1; let index = index">
	                                                                <a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}">
	                                                                    <div class="pos-rlt">
	                                                                       
	                                                                        <div class="item-overlay opacity game_new_item_active">
	                                                                            <div class="bottom">
	                                                                                <span class="pull-left"><small>RATING</small><br>{{item.final_rating}}/5</span>
	                                                                                <span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
	                                                                            </div>
	                                                                        </div>
	                                                                    <picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
																					<source srcset="{{item.game_image}}" type="image/webp">
																					<source srcset="{{item.game_image_mobile}}" type="image/jpeg">
																					<img src="{{item.game_image_mobile}}">
																			</picture>
																		
																		
																		</div>
	                                                                </a>
	                                                            </span>
	                                                        </li>
	                                                    </ul>
	                                                    <div *ngIf="gamefavlist == ''">
	                                                        <div class="alert alert-danger data_not_found_fav display_none" role="alert">Data Not found</div>
	                                                    </div>
	                                                </div>

	                                            </div>



	                                        </div>
	                                    </div>

	                                </div>
	                            </div>
	                        </section>
                         

	                    </section>
						<br>
						<br>
						<br>
	                    <app-footer></app-footer>
	                </section>
	            </section>
	            <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
	        </section>
	    </section>
	</section>
</section>