<div class="wrapper">

  <!-- <div class="overlay"></div>
  <app-sidebar></app-sidebar> -->
  <!-- <app-login></app-login> -->
  <!-- <app-resend-otp></app-resend-otp> -->
  <!-- <app-share></app-share> -->
  <!-- <app-join-us></app-join-us> -->
  <!-- <app-launch-calculator></app-launch-calculator> -->
  <!-- <app-transition-2></app-transition-2> -->
  <!-- <app-splash></app-splash> -->
  <router-outlet></router-outlet>
  <!-- <app-user-info></app-user-info> -->
  <!-- <app-progress-bar></app-progress-bar> -->
  <!-- <app-meet-shado></app-meet-shado> -->
  <!-- <app-infotainment></app-infotainment> -->
  <!-- <app-add-commute></app-add-commute> -->
  <!-- <app-register></app-register> -->
  <!-- <app-our-shado></app-our-shado> -->
  <!-- <app-calculating-shado></app-calculating-shado> -->
  <!-- <app-share-monster></app-share-monster> -->
  <!-- <app-select-vehicle></app-select-vehicle> -->
  <!-- <app-video></app-video> -->
  <!-- <app-my-collective></app-my-collective> -->
  <!-- <app-build-shado></app-build-shado> -->
  <!-- <app-flight></app-flight> -->
  <!-- <app-electricity></app-electricity> -->
  <!-- <app-house-detail></app-house-detail> -->
  <!-- <app-products></app-products> -->
  <!-- <app-cooking></app-cooking> -->
  <!-- <app-shadow-monster></app-shadow-monster> -->
  <!-- <app-customize-shado></app-customize-shado> -->

</div>
