<nav class="navbar navbar-default website_menu">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="javascript:void(0);" routerLink="/"><img src="assets/img/logo.png" alt="" class=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      
      <ul class="nav navbar-nav navbar-right navlinks">
		<li *ngIf="!privateSection"><a href="javascript:void(0);"   routerLink="/login" >Login</a></li>
		<li *ngIf="!privateSection"><a href="javascript:void(0);"   routerLink="/registration" >Signup</a></li>
		<li><a href="javascript:void(0);" routerLink="/new-games" >New Games</a></li>
		<li ><a href="javascript:void(0);" routerLink="/popular-games" >Popular Games</a></li>
        <li *ngIf="user_img_src" class="dropdown">
          <a style="margin-top: 7px;padding-top: 4px;" href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span *ngIf="user_img_src" ><img src="{{user_img_src}}" width="30px" height="30px" style="border-radius: 50%;"></span> </a>
          <ul class="dropdown-menu">
            <li><a routerLink="/changeprofile"  href="javascript:void(0);">Profile</a></li>
            <li><a routerLink="/user-fav-game"  href="javascript:void(0);">My favorite games</a></li>
            <li><a routerLink="/user-play-game"  href="javascript:void(0);">Last played games</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="javascript:void(0);" (click)="logoutcustomer()">Logout</a></li>
          </ul>
        </li>
      </ul>
	  
      <div class="navbar-form  navbar-right menu_search">
        <div class="form-group">
          <input type="text" [(ngModel)]="search_string" (keydown.enter)="keyDownFunction($event)" class="form-control search_input" placeholder="Search">
        </div>
        <button type="submit" (click)="go_to_search_page_query()" class="btn btn-default search_submit"><img  src="assets/img/search.png"></button>
      </div>
	  <ul class="nav navbar-nav navbar-right menu_catlist">
		<li class="category_dopw_dopn" >
          <a href="javascript:void(0);" class="dropdown-toggle cat_btn dropdown menu_catlist_a" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{select_dropdown_content}}<span class="caret"></span></a>
          <ul class="dropdown-menu category_menu">
            <li *ngFor="let item of gamecategorylist; let index = index"><span >
						<a href="javascript:void(0);" (click)="select_header_dropdown_content(item._id,item.game_category_name,item.category_slug)" >{{item.game_category_name}}</a>
						</span></li>
          </ul>
        </li>
      </ul> 
	  
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- <div class="clearfix"></div> -->