.navlinks li a:hover, .navlinks li a.active 
{ background:#063f76; color:#fff!important;border-radius:8px!important; border:1px solid #ffc800; box-shadow:1px 2px 3px rgba(0,0,0,0.5);}
.navbar-form .dropdown {
    position: relative;
    display: inline-block;
    width: 230px;
}
.dropdown li a:hover{
	color:#000!important;
}
.navbar-form .dropbtn {
    background-color: #063f76;
    color: #fed102;
    padding: 7px 16px;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 3px 0px grey;
    border: 1px solid #fed102;
    border-radius: 5px;
    width: 100%;
    text-align: left;
}
.navbar-form .dropdown-content {
    display: none;
    position: absolute;
    background-color: #063f76;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    box-shadow: 1px 1px 3px 0px grey;
    border: 1px solid #fed102;
    border-radius: 5px;
    color: #fed102;
    padding: 10px;
}
.navbar-form .dropdown:hover .header_dropdown_content {
    display: block;
}
.header_dropdown_content a {
    color: black;
    padding: 6px 16px;
    text-decoration: none;
    display: block;
    color: #fed102;
    width: 50%;
    float: left;
}
.header_dropdown_content a:hover {
    background-color: #002a53;
}
.searchbar{
    border-radius: 5px !important;
}
.mymenuhide{display: none !important;}
.mymenushow{display: block !important;}
.navbar-default{    background: #fed102;
    font-family: Toonish,serif;}
.navbar-default .navbar-nav>li>a {
    color: #333;
}

.navbar-form{margin-top: 6px;}
.navbar {
    border-radius: 0px;
}
.search_input{    border-right: 0px;
    padding-right: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;}
.search_submit{    background: #063f76;
    box-shadow: 1px 1px 3px 0px grey;
    border: 1px solid #fed102;
    border-radius: 5px;    padding: 6px 12px;
    border-left: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;}
.nav>li>a {
    padding: 14px 15px;
	    padding-top: 6px;
    padding-bottom: 5px;    margin-top: 6px;
    border-radius: 5px;
}
.cat_btn{    vertical-align: middle;
    background: #063f76;
    box-shadow: 1px 1px 3px 0px grey;
    border: 1px solid #fed102;
    border-radius: 5px;
    color: #fed102 !important;
    width: 230px;
    margin: 7px;    text-align: right;
    padding: 6px !important;}
.cat_btn:hover, .cat_btn:focus {
    background-color: #063f76 !important;
}

.category_menu{width:230px;background-color: #063f76;box-shadow: 1px 1px 3px 0 grey; border: 1px solid #fed102; border-radius: 5px; color: #fed102; padding: 10px;margin-right: 7px;margin-top: -8px !important;}
.category_menu li{width:50%;float:left;padding: 6px 16px; text-decoration: none; display: block; color: #fed102;}
.category_menu li a{color: #fed102;}
.category_menu li a:hover{background-color: #002a53;}
.navbar-default .navbar-toggle {
    border-color: #2a6496;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #2a6496;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
}
.navbar {margin-bottom: 0px;}
@media only screen and (max-width: 5100px) and (min-width: 768px){
	.login_btn{background: red;
		margin: 7px 5px;
		border-radius: 8px;
		background-image: linear-gradient(#e3206d,#f798ba);
		color: #fff;
		border-color: #ededed;
		box-shadow: 0 0 0 1px #d3156e;
		padding: 7px 20px !important;
		text-transform: uppercase;
		font-size: 12px;
	}
	.singup_btn{background: red;
		margin: 7px 5px;
		border-radius: 8px;
		background-image: linear-gradient(#9700de,#efc9ff);
		color: #fff;
		border-color: #ededed;
		box-shadow: 0 0 0 1px #d3156e;
		padding: 7px 20px !important;
		text-transform: uppercase;
		font-size: 12px;
	}
}
@media only screen and (max-width: 767px) and (min-width: 200px){
	.select_cate{
		width:346px !important;
	}
	.mobile_search{
		width:354px !important;
	}
	.navbar-form .form-group {
		padding: 0px 0px;
	}
	.category_menu {
		margin-top: 0px !important;
		margin-left:15px;
		width: 100%;
	}
	.category_dopw_dopn{    margin-left: 10px;}
	.website_menu{
		width: 100%;margin-bottom: 10px;
		z-index: 9999;
	}
	.clearfix{min-height: 60px;}
	.menu_search .form-group {width: 90%;}
	.menu_search button {width: 10%;}
	.menu_catlist{padding-right: 23px;}
	.menu_catlist_a{    width: 100%;}
	.menu_catlist_ul{margin-left: 7px;  width: 100%;}
	.nav>li>a:hover, .nav>li>a:focus {
		margin-right: 15px;
		margin-left: 15px;
	}
}






