<app-loader *ngIf="loader"></app-loader>
<app-navbar></app-navbar>
<div class="content-wrapper animated fadeInRight container">
    <div class="content">
        <div class="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-primary ">
                       
						<div class="row">
						<div class="col-md-6"> <h3 class="box-title">Add Game Category</h3></div>
						<div class="col-md-6">
                        </div>
						
						</div>
                        <div class="box-body">
                            <div class="ibox float-e-margins">
                                 <div class="col-md-12">
                    <div id="headMsg"></div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <input type="hidden" id="game_category_id" name="game_category_id" [(ngModel)]="game_category_id" class="form-control" value="">

                            <label class="control-label col-md-3" for="game_category_name"> Add Game Category <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control game_category_name" style="width : 100%" [(ngModel)]="game_category_name" id="game_category_name" name="game_category_name" placeholder="Game Category Name" type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <label class="control-label col-md-3" for="category_slug"> Add Category Slug <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control category_slug_" style="width : 100%" [(ngModel)]="category_slug" id="category_slug" name="category_slug" placeholder="Category Slug Name" type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px;display:none">
                         <label class="control-label col-md-3" for="category_meta_keywords"> Add Meta Keywords <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="category_meta_keywords" id="category_meta_keywords" name="category_meta_keywords" placeholder="Meta Keywords " type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px;">
                         <label class="control-label col-md-3" for="category_meta_description"> Add Meta Description <span class="required">*</span></label>
                            <div class="col-md-9">
                                <textarea  class="form-control" rows="3" style="width : 100%" [(ngModel)]="category_meta_description" id="category_meta_description" name="category_meta_description" placeholder="Meta Description " > </textarea>
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px;">
                         <label class="control-label col-md-3" for="category_meta_description">Content (optional)</label>
                            <div class="col-md-9">
                            <ckeditor  [(ngModel)]="content"  (change)="onChangeckeditor($event)" [editor]="Editor" ></ckeditor>
							 </div>
                        </div>
				
                        <div class="clearfix"></div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px;">
						 <label class="control-label col-md-3" for="category_meta_description"> <span class="required">*</span></label>
                            
                        <div class="col-md-9">
                           <button type="submit" (click)="onSubmit()" class="btn btn-primary">Save</button>
						</div>
                        </div>
                      
                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------- Modal for Browse Category-------------------------->
<div class="modal fade" id="browseNewCategory" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3> Game Category Name</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <input type="hidden" id="game_category_id" name="game_category_id" [(ngModel)]="game_category_id" class="form-control" value="">

                            <label class="control-label col-md-3" for="game_category_name"> Add Game Category <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control game_category_name" style="width : 100%" [(ngModel)]="game_category_name" id="game_category_name" name="game_category_name" placeholder="Game Category Name" type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <label class="control-label col-md-3" for="category_slug"> Add Category Slug <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control category_slug_" style="width : 100%" [(ngModel)]="category_slug" id="category_slug" name="category_slug" placeholder="Category Slug Name" type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px;display:none">
                         <label class="control-label col-md-3" for="category_meta_keywords"> Add Meta Keywords <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="category_meta_keywords" id="category_meta_keywords" name="category_meta_keywords" placeholder="Meta Keywords " type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px;">
                         <label class="control-label col-md-3" for="category_meta_description"> Add Meta Description <span class="required">*</span></label>
                            <div class="col-md-9">
                                <textarea  class="form-control" rows="3" style="width : 100%" [(ngModel)]="category_meta_description" id="category_meta_description" name="category_meta_description" placeholder="Meta Description " > </textarea>
                            </div>
                        </div>
						<div class="form-group">
										<label class="col-md-3 label-right" for="content">Content<span class="required">*</span></label>
										<div class="col-md-7">
											<div class="content-error"></div>
										</div>
									</div>	
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default close_btn" data-dismiss="modal">Close</button>
                            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editCategory" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3> Game Category Name</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <input type="hidden" id="game_category_id" name="game_category_id" [(ngModel)]="game_category_id" class="form-control" value="">

                            <label class="control-label col-md-3" for="game_category_name"> Add Game Category <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control game_category_name" style="width : 100%" [(ngModel)]="game_category_name" id="game_category_name" name="game_category_name" placeholder="Game Category Name" type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <label class="control-label col-md-3" for="category_slug"> Add Category Slug <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" disabled style="width : 100%" [(ngModel)]="category_slug" id="category_slug" name="category_slug" placeholder="Game Slug Name" type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                         <label class="control-label col-md-3" for="category_meta_keywords"> Add Meta Keywords <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="category_meta_keywords" id="category_meta_keywords" name="category_meta_keywords" placeholder="Meta Keywords " type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                         <label class="control-label col-md-3" for="category_meta_description"> Add Meta Description <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input  class="form-control" style="width : 100%" [(ngModel)]="category_meta_description" id="category_meta_description" name="category_meta_description" placeholder="Meta Description " type="text">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default close_btn" data-dismiss="modal">Close</button>
                            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

