<app-loader *ngIf="loader"></app-loader>
 <app-navbar></app-navbar>
 <style>
 CKEDITOR.replace('Editor',{
    height: '600px'
});
.display_none
{
  display:none;
}
 </style>
<div class="content-wrapper animated fadeInRight container">
<div class="content"> 
	<div class="row">
	   <div class="col-lg-12">
	     <div class="box box-primary ">
			<div class="ibox float-e-margins">
				<div class="box-header with-border">
					  <h3 class="box-title">Add Games</h3>
				</div>
				
				<div class="box-body">
						<div id="headerMsg"></div>
						
						
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="game_category_name"> Games Category <span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
							<select class="form-control  " style="width : 100%"  [(ngModel)]="game_category_id"  id="game_category_id"  name="game_category_id" (change)="onmoduleChange($event)">
								
								<option  *ngFor="let item of gamecategorylist; let index = index" value="{{item._id}}">{{item.game_category_name}}</option>
							</select>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="game_title"> Games Title <span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input  class="form-control game_title" type="text"  [(ngModel)]="game_title"  id="game_title" name="game_title" placeholder="Enter Games title"  value=""> 
							</div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="game_slug"> Games Slug <span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input style="width: 553px;float: left;" class="form-control game_slug"  type="text" [(ngModel)]="game_slug"  id="game_slug" name="game_slug" placeholder="Enter Games Slug"  value="">
								<a href="javascript:void(0);" routerLink="/g/{{game_slugs}}"  target="_blank"><span  style="float:right;" class="label label-primary">Live-link</span></a>
							</div>
						</div>
						<div class="form-group">
			              <label class="col-lg-3 control-label"  for="blog_img"> Image <span class="required">*</span></label>
						<div class="col-lg-7">
				          <figcaption><button data-toggle="modal"  data-target="#registerImage" class="btn" (click)="imgpopselect()"> Choose Image</button></figcaption>
				             <label class="cabinet center-block">
					            <figure>
						         <img  id="gameimage"  src="{{games_img_src}}" style="width: 150px; height:150px" class="gambar img-responsive img-thumbnail" id="item-img-output" />	
						         <img   src="{{games_img_jpg_src}}" style="width: 150px; height:150px" class="gambar img-responsive img-thumbnail" id="item-img-output" />
								</figure>
				             </label>
						
				          <input type="hidden" [(ngModel)]="game_image" class="form-control admin_img" id="game_image" name="game_image"  value="">
				          <input type="hidden" [(ngModel)]="game_image_mobile" class="form-control" id="game_image_mobile" name="game_image_mobile"  value="">
				                <div class="image-preview inline_block" >
				 						
				                           </div>
			                                      </div>
		                    </div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="games_content"> Games Description <span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
							<ckeditor  [(ngModel)]="games_content"   (change)="onChangeckeditor($event)" [editor]="Editor" ></ckeditor>
											
							</div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="games_control"> Control <span>(optional)</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
							<ckeditor  [(ngModel)]="games_control"  (change)="onChangeckeditor1($event)" [editor]="Editor" ></ckeditor>
											
							</div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="game_url"> Games Iframe Url <span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input type="text" [(ngModel)]="game_url"  id="game_url" name="game_url" placeholder="Enter url" class="form-control" value=""> 
							</div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="game_tag">Games Tags <span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
						    <ng-multiselect-dropdown
							  [placeholder]="'Select Game Tag'"
							  [data]="dropdowntagList"
							  [(ngModel)]="selectedtagItems"
							  [settings]="dropdowntagSettings"
							  (onSelect)="onItemSelect($event)"
							  (onSelectAll)="onSelectAll($event)">
							</ng-multiselect-dropdown>
							</div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="game_width">Width<span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
										<input type="text" [(ngModel)]="game_width"  id="game_width" name="game_width" placeholder="Enter width" class="form-control" value=""> 
							</div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="game_height">Height<span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
									<input type="text" [(ngModel)]="game_height"  id="game_height" name="game_height" placeholder="Enter height" class="form-control" value=""> 
							</div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="game_orientation">Games Orientation<span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<select class="form-control  " style="width : 100%"  [(ngModel)]="game_orientation"  id="game_orientation"  name="game_orientation" >
								<option   value="both">Both Orientation</option>
								<option   value="horizontal">Landscape</option>
								<option   value="vertical">Portrait </option>
							</select>
							</div>
						</div>
					
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="game_walkthrough">Game Walkthrough<span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<select class="form-control select_game_walkthrough" style="width : 100%"  [(ngModel)]="game_walkthrough"  id="game_walkthrough"  name="game_walkthrough" >
								<option value="tubia">Tubia</option>
								<option value="youtube">YouTube</option>
								<option value="disable">Disable</option>
							</select>
							</div>
						</div>
						<div class="form-group youtube_link display_none" >
							<label class="col-lg-3 control-label"  for="youtube_link">Youtube Link <span>(optional)</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input type="text" [(ngModel)]="youtube_link"  id="youtube_link" name="youtube_link" placeholder="like: https://www.youtube.com/watch?v=H1WASu-s4eA" class="form-control" value=""> 
							</div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="apple_store_url">Apple Store Url <span>(optional)</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input type="text" [(ngModel)]="apple_store_url"  id="apple_store_url" name="apple_store_url" placeholder="Enter url" class="form-control" value=""> 
							</div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="play_store_url"> Google Play Store Url <span>(optional)</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input type="text" [(ngModel)]="play_store_url"  id="play_store_url" name="play_store_url" placeholder="Enter url" class="form-control" value=""> 
							</div>
						</div>
						<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							 <label class="control-label col-md-3" for="mobile_friendly">Desktop friendly<span>(optional)</span></label>
								<div class="col-md-9">
									<label class="radio-inline">
										<input type="radio" class="form-check-input" [(ngModel)]="desktop_friendly" name="desktop_friendly" value="Yes" ><span class="label-text">Yes</span>
									</label>&nbsp;&nbsp;&nbsp;&nbsp;
									<label class="radio-inline">
										<input type="radio" class="form-check-input" [(ngModel)]="desktop_friendly" name="desktop_friendly" value="No" checked><span class="label-text">No</span>
									</label>
                                </div>
						</div>
						<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							 <label class="control-label col-md-3" for="mobile_friendly"> Mobile Friendly <span>(optional)</span></label>
								<div class="col-md-9">
									<label class="radio-inline">
										<input type="radio" class="form-check-input" [(ngModel)]="mobile_friendly" name="mobile_friendly" value="Yes" ><span class="label-text">Yes</span>
									</label>&nbsp;&nbsp;&nbsp;&nbsp;
									<label class="radio-inline">
										<input type="radio" class="form-check-input" [(ngModel)]="mobile_friendly" name="mobile_friendly" value="No" checked><span class="label-text">No</span>
									</label>
                                </div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="meta_keyword"> Meta Keywords <span>(optional)</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input type="text" [(ngModel)]="meta_keyword"  id="meta_keyword" name="meta_keyword" placeholder="Enter Meta Keywords" class="form-control" value=""> 
							</div>
						</div>
						<div class="form-group" style="display:none" >
							<label class="col-lg-3 control-label"  for="meta_tags"> Meta Tags <span>(optional)</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input type="text" [(ngModel)]="meta_tags"  id="meta_tags" name="meta_tags" placeholder="Enter Meta Tags" class="form-control" value=""> 
							</div>
						</div>
						<div class="form-group" style="display:none">
							<label class="col-lg-3 control-label"  for="meta_description"> Meta Description <span>(optional)</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input type="text" [(ngModel)]="meta_description"  id="meta_description" name="meta_description" placeholder="Enter Meta Description" class="form-control" value=""> 
							</div>
						</div>
							<div class="form-group" >
							<label class="col-lg-3 control-label"  for="game_status">Games status<span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<select class="form-control  " style="width : 100%"  [(ngModel)]="game_status"  id="game_status"  name="game_status" >
								<option   value="Active">Active</option>
								<option   value="Inactive">Inactive</option>
								<option   value="DMCA">DMCA</option>
								<option   value="Deleted">Deleted</option>
							</select>
							</div>
						  </div>
					
						<div class="form-group">
							<div class="col-lg-offset-3 col-lg-3">
								<button id="btn-signup" (click)="onSubmit()" type="submit" class="btn btn-primary">Submit</button>
								
							</div>
						</div>
				
				</div>
			</div>
		</div>
		</div>
		
	</div>
	</div>
</div>
<div class="modal fade" id="registerImage" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header display_initial">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3>Upload Image</h3>
					</div>
					<div class="modal-body row">
							<div class="col-md-12">
				<div id="headMsg"></div>
				<input type="file" style="border: none;" class="form-control mycropimageuploadinput" (change)=" fileChangeEvent($event)"/>
				<image-cropper
						[imageChangedEvent]="imageChangedEvent"
						[maintainAspectRatio]="true"
						[aspectRatio]="3 / 3"
						[resizeToWidth]="200"
						format="jpeg"
						(imageCropped)="imageCropped($event)"
				></image-cropper>
				<!-- 
				  <image-cropper
						[imageChangedEvent]="imageChangedEvent1"
						[maintainAspectRatio]="true"
						[aspectRatio]="3 / 3"
						[resizeToWidth]="200"
						format="jpeg"
						(imageCropped1)="imageCropped($event)"
				></image-cropper> -->
				<img style="width:100px;height:100px;" [src]="croppedImage" *ngIf="croppedImage"/>
				
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button id= 'close_register_modal' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" (click)="onSaveCropImage()" class="btn btn-primary submit_img">Submit</button>
				</div>
									
							</div>
					</div>
			</div>
	</div>
</div>
<!---------------------------- Modal for Browse Image-------------------------->
