<app-loader *ngIf="loader"></app-loader>
 <app-navbar></app-navbar>
 <style>
 .active-page{
   background: #8bdde9;
 }
 .display_none{
  display:none;
 }
 
 </style>
<div class="content-wrapper animated fadeInRight container">
<div class="content"> 
	<div class="row">
	   <div class="col-lg-12">
	     <div class="box box-primary ">
			<div class="ibox float-e-margins">
				<div class="row">
				<div class="col-md-6">  <h3 >Game List</h3></div>
				<div class="col-md-6">  <a style="margin-right: 11px;"  class="btn btn-info pull-right" href="addgames/s/0" >Add New game</a>
					</div>
				</div>
				 <div class="searchbar" style="float: right;    margin-left: 11px;" (keydown.enter)="keyDownFunction($event)">
				  <div style="float: left;padding-right: 11px;padding-bottom: 11px;">
						
							<div>
								<select class="form-control game_status_change"(ngModelChange)="game_status_change($event)" style="width : 100%"  [(ngModel)]="game_status"  id="game_status"  name="game_status" >
								
								<option   value="All">All</option>
								<option   value="Active">Active</option>
								<option   value="Inactive">Inactive</option>
								<option   value="DMCA">DMCA</option>
								<option   value="Deleted">Deleted</option>
							</select>
							</div>
						  </div>
				  <input class="search_input form-control" style=" width:auto;display: inline;" type="text"  [(ngModel)]="search_string"  placeholder="Search game.." placeholder="Search...">
				  
				  <a href="javascript:void(0);" (click)="go_to_search_page_query(0 ,10)" class="btn btn-primary">Search</a>
				</div>
				<div class="box-body">
					<table class="table table-bordered">
						<thead>
							<tr>
							  <th style="width: 10px">#</th>
							  <th>Game Title</th>
							  <th style="display:none">Game Show Home Page</th>
							  <th>Game Status</th>
							  <th>Added by</th>
							  <th>Date</th>
							  <th>Time</th>
							  <th style="width: 400px">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of gamelist; let index = index">
							  <td>{{index1 + index}}.</td> 
							  <td><a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}"  target="_blank">{{item.game_title}}</a></td>
							 <!-- {{callComponentMethodHere(item._id)}} -->
							  <td style="width: 188px;text-align: center;display:none">
							  <div *ngIf="item.game_show == 'other'" >
							   <button  type="button" (click)="showpage(item._id,'home')" class="btn btn-primary btn-xs">Add Home Page</button>
							  </div>
							 <!--    <button  type="button" (click)="showpage(item._id,'home')" class="btn btn-primary btn-xs home_add display_none">Add Home Page</button>
							  <button  type="button" (click)="showpage(item._id,'other')" class="btn btn-danger btn-xs other_add display_none">Show Home Page</button>
							 	 -->
							  <div *ngIf="item.game_show == 'home'">
							  <button  type="button" (click)="showpage(item._id,'other')" class="btn btn-danger btn-xs">Show Home Page</button>
							 	</div>
								</td>
								 <td>{{item.game_status}}</td>
								 <td>
								 
								 <span *ngIf="!item.added_by_game"> Admin </span>
								 <span *ngIf="item.added_by_game">{{item.added_by_game}}</span>
								 
								 </td>
								  <td><a href="javascript:void(0);"  >{{item.created_date}}</a></td>
								  <td><a href="javascript:void(0);"   >{{item.created_time}}</a></td>
							  <td>
								<a tooltip="Edit" placement="bottom" show-delay="500"  routerLink="/addgames/{{item.game_slug}}/{{item._id}}" name="{{item._id}}" ><span class="label label-success">Edit</span></a>
								<a tooltip="Edit" placement="bottom" show-delay="500"  routerLink="/user-fav-game/{{item._id}}"  ><span class="label label-success">Game favorite user</span></a>
								<a tooltip="Edit" placement="bottom" show-delay="500"  routerLink="/user-play-game/{{item._id}}"  ><span class="label label-success">Game play user</span></a>
								<a  href="javascript:void(0);"  tooltip="Reset game" placement="bottom" show-delay="500" (click)="removegame(item._id)" ><span class="label label-danger">TOG Reset</span></a>
								<a  href="javascript:void(0);"  tooltip="Reset game" placement="bottom" show-delay="500" (click)="time_of_game(item._id , item.game_title)" ><span class="label label-info">Time of game</span></a>
								<a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}"  target="_blank"><span   class="label label-primary">Live-link</span></a>
								
								<span style="display:none"  (click)="remove_game(item._id)"> remove </span>
							  </td>
							</tr>
						</tbody>
				  </table>
				  <div class="row products_main products_pagination ">
	
								<div class="col-sm-3"></div>
								<div class="col-sm-6">
									<div  *ngIf="search == 'no'" >
										<div class="pagei-nav">
											<ul class="pagination_set">
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setpage(0,$event)" >First</a></span>
												</li> 
												<li class="set_page selectpage{{i+1}} " *ngFor="let i of count"  [className]="i == (current_page-2)  || i == (current_page-1)  || i == current_page || (i) == (current_page+1)  || (i) == (current_page+2)  ?  null : 'display_none'" >
													<span [ngClass]="(i==current_page)?'active':'noactive'" ><a class="{{current_page-3}}"  (click)="setpage(i,$event)" >{{i+1}}</a></span>
												</li> 
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setpage(totalcount,$event)" >Last</a></span>
												</li> 
											</ul>
											
											
										</div>
									</div>
									 <div  *ngIf="search == 'yes'">
										<div class="pagei-nav">
											<ul>
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setsearchpage(0,$event)" >First</a></span>
												</li> 
												
												<li *ngFor="let i of count"  [className]="i == (current_page-2)  || i == (current_page-1)  || i == current_page || (i) == (current_page+1)  || (i) == (current_page+2)  ?  null : 'display_none'" >
													<a  (click)="setsearchpage(i,$event)"  >{{i+1}}</a>
												</li>
												<li class="set_page selectpage " >
													<span ><a class=""  (click)="setsearchpage(totalcount,$event)" >Last</a></span>
												</li> 
											</ul>
										</div>
									</div> 
								</div> 
								<div class="col-sm-3"></div>
								
							</div>
				</div> 
			</div>
		</div>
		</div>
		
	</div>
	
	</div>
</div>
<!---------------------------- Modal for Browse Image-------------------------->
<div class="modal fade" id="browseCsv" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header display_initial">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3>Upload CSV</h3>
					</div>
					<div class="modal-body row">
							<div class="col-md-12">
				<div id="headMsg"></div>
				<input type="file"    class="form-control" [(ngModel)]="product_images" name="product_images" (change)="onPhotoPickerChange($event)" style="border: none;" id="product_images">
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button id= 'close_register_modal' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" (click)="onSaveCSV()" class="btn btn-primary">Submit</button>
				</div>
									
							</div>
					</div>
			</div>
	</div>
</div>


<div class="modal fade" id="tog" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3> Time of game [{{toggame_title}}]</h3>
            </div>
            <div class="modal-body row" style="text-align: center;font-size: 2pc;">
			{{tog}}
            <!--  {{tog/3600 | number : '1.0-0'}}:{{tog% 3600 / 60 | number : '1.0-0'}}:{{tog% 3600 % 60 | number : '1.0-0'}} -->
               (Seconds)
            </div>
        </div>
    </div>
</div>