.container{
	margin:0 auto ! important ;
}
.addfav{
	    color: red;
}

.disply_none{
  display:none;
}

.blurimg{
  filter: blur(11px);
  width:100%;
  height:600px;
}
.blurimg_mobile{
  filter: blur(11px);
  width:100%;
  height:360px;
}

.google_play{
      float: left;
    margin-top: 16px;
    margin-right: 15px;
}
.app_store{
   
    margin-top: 16px;
    margin-right: 15px;
}
.youtubelink{
    text-align: center;
}
.iframemain{
	padding-left: 16px;
    padding-right: 3px;text-align: center;
    margin: 0 auto;display: inline-block;
}
.game-p-content{    text-align: center;}
.iframewidth{
  float:left;
}
.iframewidth1{
  float:left;
}
.iframewidth2{
  float:left;
  padding-right: 14px;
  padding-left: 18px;
  width:356px;
}
.tubaclink{
    text-align: center;
} 
.banner_left{
	width: 100%;
	padding-right:18px;
    height: 600px;
}
.mobile_play_game{
	    display: table;
    margin-right: auto;
    margin-left: auto;
}

@media only screen and (max-width: 1366px) and (min-width: 768px) {
  .iframewidth1{
	  height:662px;
	  float:left;
	  
  }
  
}

@media (min-width: 1024px) and (max-width: 1920px) {

 /* .container{
	 width:1300px;
 }  */
  
}

@media only screen and (max-width: 768px) and (min-width: 360px) {

 .container{
	 padding: 0px;
 }
  .iframewidth1{
	  height:662px;
	  float:left;
	  
  }
 .mobile_responsive{
	     padding: 0px;
		 width:100%;
		 height:100%;
 }
 .padder-v {
    padding-top: 24px;
    padding-bottom: 24px;
}
.game-port {
    list-style: none;
    margin: 0;
    /* padding: 20px; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.blurimg{
  filter: blur(11px);
  width:100%;
  height:450px;
}
.share{
	 padding-right: 0px!important; 
     padding-left: 0px!important; 
}



}

.gameframe_land{
	position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    height: 100vw;
    width: 100vh;
}

.gameframe_vertical{
	width: 100vw;
    height: 100vh;
}

.username:hover{color: black;cursor: pointer;}
.tags_sel{
	padding-bottom: 11px;
	text-align:left;
	
	}
.games_content{
	text-align:left;
}
.how_to_play{
text-align:left;	
}
.game_opacity{
	/* display: none; */
	background-color: rgba(18,65,122,0.9);
    height: 50px;
    bottom: 0px;
    margin-top: 98px;
    color: #fff;
    font-size: 12px;
    font-family: 'Toonish', serif;
}
.list-inline .share{
	margin-top: 3px;  
}
/* .item-overlay.active{
	display: none;
}
 */
.mobile_back{top: 24px;position: fixed;z-index: 9999999;background-color: #fff; padding: 8px 8px 8px 8px; border-top-left-radius: 0px; border-top-right-radius: 13px; border-bottom-right-radius: 15px; border-bottom-left-radius: 0px; color: #000;}

.portrait_mode {
	transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw; 

    overflow-x: hidden;
    position: absolute;
    /* top: 100%; */
    left: 0;
    }
/* .gameframe iframe { width: 360px; height: 640px; border: none; margin: 0; padding: 0;} */
