<app-loader *ngIf="loader"></app-loader>
<app-navbar></app-navbar>
<div class="content-wrapper animated fadeInRight container">
    <div class="content">
        <div class="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-primary ">
                       
						<div class="row">
						<div class="col-md-6"> <h3 class="box-title">Game Category</h3></div>
						<div class="col-md-6">
						  <button class="btn btn-default pull-right addNewCategory" href="javascript:void(0);" routerLink="/addcategory/0" >Add Game Category</button>
                       
                        </div>
						
						</div>
                        <div class="box-body">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div id="headerMsg"></div>

                                    <div class="table-responsive" style="text-align: center;">
                                        <table id="blog_cat_table" class="table table-striped table-bordered table-hover ">
                                            <thead>
                                                <tr>
                                                    <th style="text-align: center;">S. No.</th>
                                                    <th style="text-align: center;">Game Category Name</th>
                                                    <th style="text-align: center;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of gamecategorylist; let index = index">
                                                    <td>{{index + 1}}</td>
                                                    <td>{{item.game_category_name}}</td>
                                                    <td>
                                                        <a href="javascript:void(0);" routerLink="/addcategory/{{item._id}}"  tooltip="Edit" placement="bottom" show-delay="500" href="javascript:void(0);" (click)="editgamecategory(item._id, item.game_category_name, item.category_slug, item.category_meta_keywords, item.category_meta_description)"><i ><span class="label label-success">Edit</span></i></a> &nbsp;&nbsp;
                                                        <a tooltip="Remove" placement="bottom" show-delay="500" href="javascript:void(0);"  (click)="removegamecategory(item._id)"><span class="label label-danger">Remove</span></a>
                                                    </td>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------- Modal for Browse Category-------------------------->
<div class="modal fade" id="browseNewCategory" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3> Game Category Name</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <input type="hidden" id="game_category_id" name="game_category_id" [(ngModel)]="game_category_id" class="form-control" value="">

                            <label class="control-label col-md-3" for="game_category_name"> Add Game Category <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control game_category_name" style="width : 100%" [(ngModel)]="game_category_name" id="game_category_name" name="game_category_name" placeholder="Game Category Name" type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <label class="control-label col-md-3" for="category_slug"> Add Category Slug <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control category_slug_" style="width : 100%" [(ngModel)]="category_slug" id="category_slug" name="category_slug" placeholder="Category Slug Name" type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px;display:none">
                         <label class="control-label col-md-3" for="category_meta_keywords"> Add Meta Keywords <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="category_meta_keywords" id="category_meta_keywords" name="category_meta_keywords" placeholder="Meta Keywords " type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px;">
                         <label class="control-label col-md-3" for="category_meta_description"> Add Meta Description <span class="required">*</span></label>
                            <div class="col-md-9">
                                <textarea  class="form-control" rows="3" style="width : 100%" [(ngModel)]="category_meta_description" id="category_meta_description" name="category_meta_description" placeholder="Meta Description " > </textarea>
                            </div>
                        </div>
						<div class="form-group">
										<label class="col-md-3 label-right" for="content">Content<span class="required">*</span></label>
										<div class="col-md-7">
											<div class="content-error"></div>
										</div>
									</div>	
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default close_btn" data-dismiss="modal">Close</button>
                            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editCategory" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3> Game Category Name</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <input type="hidden" id="game_category_id" name="game_category_id" [(ngModel)]="game_category_id" class="form-control" value="">

                            <label class="control-label col-md-3" for="game_category_name"> Add Game Category <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control game_category_name" style="width : 100%" [(ngModel)]="game_category_name" id="game_category_name" name="game_category_name" placeholder="Game Category Name" type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <label class="control-label col-md-3" for="category_slug"> Add Category Slug <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" disabled style="width : 100%" [(ngModel)]="category_slug" id="category_slug" name="category_slug" placeholder="Game Slug Name" type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                         <label class="control-label col-md-3" for="category_meta_keywords"> Add Meta Keywords <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="category_meta_keywords" id="category_meta_keywords" name="category_meta_keywords" placeholder="Meta Keywords " type="text">
                            </div>
                        </div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                         <label class="control-label col-md-3" for="category_meta_description"> Add Meta Description <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input  class="form-control" style="width : 100%" [(ngModel)]="category_meta_description" id="category_meta_description" name="category_meta_description" placeholder="Meta Description " type="text">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default close_btn" data-dismiss="modal">Close</button>
                            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

