<app-loader *ngIf="loader"></app-loader>
<div class="mobile_back display_none"  (click)="back_to_main_screen()">< back</div>
<!--   <script src="oc.js"></script> -->



<section class="vbox ">
    <app-sidebar></app-sidebar>
	<div class="clearfix"></div> 
    <section class="text-center hidden-xs">
        <div class="googleads active_game6">
            <img class="" src="assets/img/google-ad-1.png">
		</div>
    </section>
    <section>
        <section class="hbox stretch">
            <section id="content">
                <section class="hbox stretch">
                    <section>
                        <section class="vbox" >
                            <section class="w-f-md">

                                <div class="container1 main_container">
                                    <div class="row mobile_responsive">

                                        <div class="gamechange col-md-12">

                                            <div class="game-player clearfix">
                                                <div class="row rotation_msg alert alert-danger display_none" style="font-weight: 700;margin-left: 11px;text-align: center;display:none"><button (click)="rotation_msg()" type="button" class="close" >&times;</button></div>
                                                    <div class="alert alert-danger dcma display_none" style="margin-top: 7%;" role="alert">Game have been deleted from the developer request</div>
                                                    <div class="alert alert-danger delete_game display_none" style="margin-top: 7%;" role="alert">Sadly game have been deleted, please check the other great games.</div>
                                                                
                                                <div class="game-p-content active_game4">
                                                    <div class="item">
													
                                                        <div class="row iframemain ">
                                                            <div class="iframewidth1 display_none hidden-xs">
															<div class="active_game1">
															 <img class="banner_left" src="assets/img/fenu1.jpg">
															 </div>
															</div>
                                                            <div class="iframewidth display_none">
                                                                <div class="row">
                                                                    <div class="game-p-header">

                                                                        <h3 class="pull-left"><a href="javascript:void(0);" routerLink="/" class="btn-game btn-game-icon"><i class="fa fa-home"></i></a> <i class="fa fa-gamepad hidden-xs"></i>{{game_title}}</h3>
                                                                        <div *ngIf="game_walkthrough != 'disable'">
                                                                            <a (click)="gamewalkthrough()" class="pull-right btn btn-primary btn-lg"><i class="fa fa-play-circle"></i> Walkthrough</a>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                               <div >
																<div class="pos-rlt gameplay">
                                                                    <div class="item-overlay opacity r r-2x active" style="z-index: 1;">
                                                                        <img src="assets/img/logo.png" style="display: block;margin-left: auto;margin-right: auto;margin-top: 33px;">
                                                                        <div class="center text-center m-t-n">
																					
																			<picture  class="r r-2x img-full"  style="border-radius: 20%;width:170px;height:170px;">
																				<source srcset="{{games_img_src}}"  style="border-radius: 20%;width:170px;height:170px;" type="image/webp">
																				<source srcset="{{game_image_mobile}}" style="border-radius: 20%;width:170px;height:170px;"  type="image/jpg">
																				<img src="{{game_image_mobile}}" style="border-radius: 20%;width:170px;height:170px;">
																			</picture> 
                                                                            <br>
                                                                            <a href="javascript:void(0);" (click)="gameplay()" class="btn btn-primary" style="margin-top: -15px;border-radius: 11%; min-width: 150px;">PLAY GAME</a>
                                                                            <h3 style="margin-top: 40px;">{{game_title}}</h3>
                                                                            <br>
                                                                           
                                                                        </div>

                                                                    </div>
																	<picture  class="r r-2x img-full" class="play_height blurimg">
																		<source  class="r r-2x img-full" srcset="{{games_img_src}}" type="image/webp">
																		<source class="r r-2x img-full" srcset="{{game_image_mobile}}" type="image/jpg">
																		<img class="r r-2x img-full game_img_height"  src="{{game_image_mobile}}" >
																	</picture> 
                                                                </div>
                                                                </div>
																
                                                                <div class="gameshow display_none" style="text-align: center; background: black;">
                                                                    <div class="pos-rlt gameframe" id="gameframe">
                                                                    </div> 
                                                                </div>
																
                                                               <div class="active_game2">
                                                             <div class="game_detail_title">
                                                                <div class="padder-v  clearfix">
                                                                    <h4 class="pull-left m-0"><a >{{game_title}}</a></h4>
                                                                    <ul class="list-inline pull-right">
                                                                        <li class="share"><a href="javascript:void(0);" (click)="likebtn()" class="btn btn-border btn-sm likethumb" style="border: 1px solid #bdb0b0;"><i class="fa fa-thumbs-o-up"></i>&nbsp;{{count}}</a></li>
                                                                        <li class="share"><a href="javascript:void(0);" (click)="dislikebtn()" class="btn btn-border btn-sm dislikethumb" style="border: 1px solid #bdb0b0;"><i class="fa fa-thumbs-o-down"></i>&nbsp;{{countdislike}}</a></li>
                                                                        <li class="share"><a href="javascript:void(0);" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#browseshare">Share <i class="fa fa-share"></i></a></li>
                                                                        <li class="share"><a href="javascript:void(0);" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#browsereport">Report <i class="fa fa-share"></i></a></li>
                                                                        <li class="share"><a href="javascript:void(0);" (click)="addtofav()" class="btn btn-primary btn-sm"><span class="add_to_favrate">Add to fav</span> <i class="favourite fa fa-star"></i></a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                         <div class="active_game3">
                                                        <div class=" tags_sel " *ngIf="selected_tag_list">
                                                            <span *ngFor="let item1 of selected_tag_list; let index = index">
                                                                <span *ngFor="let item of item1; let index = index" style="margin: 2px;display: inline-block;" class="label label-info"> <a style="cursor: pointer;color: #fff;" (click)="select_tag_name(item.tag_slug)">{{item.tag_name}}</a></span>
                                                            </span>
                                                        </div>
                                                        </div>
                                                         

                                                        <p [innerHTML]="games_content" class="games_content" ></p><br />
                                                        <div class=" active_game5">
                                                            <div class="google_play display_none"><a href="{{play_store_url}}" target="_blank"><img src="assets/img/badge_new.png" style="width: 120px;"> </a> </div>
                                                            <div class="app_store display_none"><a href="{{apple_store_url}}" target="_blank"><img src="assets/img/app.png" style="width: 120px;"></a></div>
                                                        </div>
                                                        <br />
														<div class="how_to_play">
                                                        <div  *ngIf="games_control">
                                                            <div class="">
                                                                <h4 style="font-weight: 600;">How to play</h4>
                                                            </div>
                                                            <p [innerHTML]="games_control" ></p>
                                                        </div>
														</div>
                                                        <div class=" active_game7">
                                                            <div class="googleads text-center">
                                                                <img src="assets/img/google-ad-1.png" alt="">
                                                            </div>
                                                        </div>
														<section class="vbox other_related_games">
                                                        <ul class="game-port" style="padding-bottom: 15px;">
                                                            <li class="item game_new_item" *ngFor="let i of cate_game_list; let index = index">
                                                                <a (click)="game_reloaded(i.game_slug)" href="javascript:void(0);" routerLink="/g/{{i.game_slug}}">
                                                                    <div class="pos-rlt">
                                                                       
                                                                        <div class="item-overlay opacity game_new_item_active">
                                                                            <div class="game_opacity">
                                                                                <div class="bottom">
                                                                                    <span class="pull-left"><small>RATING</small><br>{{i.final_rating}}/5</span>
                                                                                    <span class="pull-right">{{ (i.game_title.length>12)? (i.game_title | slice:0:12)+' ...':(i.game_title)}}</span>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        	<picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
																				<source srcset="{{i.game_image}}" type="image/webp">
																				<source srcset="{{i.game_image_mobile}}" type="image/jpg">
																				<img src="{{i.game_image_mobile}}">
																			</picture> 
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        </ul>
														</section>
														 <div class="row game_user_comments" style="text-align: center;">
                                                    <div class="game-comment clearfix">
													<div class="active_game8">
                                                        <h4 style="color: #333;">User Comment</h4>
                                                        <div class="input-group m-b-sm" *ngIf="user_id != ''" (keydown.enter)="keyDownFunction($event)">
                                                            <input type="text" class="form-control" id="user_comment" [(ngModel)]="user_comment" name="user_comment" placeholder="Input your comment here">
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-primary" (click)="commentSubmit()" type="button">SEND</button>
                                                            </span>
                                                        </div>
														</div>
                                                        <div *ngIf="user_id == ''" class="alert alert-warning" role="alert">Please <a href="javascript:void(0);" routerLink="/login">login</a> or <a href="javascript:void(0);" routerLink="/registration">register</a> to comment</div>
                                                        <div class="clear"></div>
                                                        <div class="row active_game9">
                                                            <div *ngIf="gamecommentlist != ''">
                                                                <div class="col-md-12" *ngFor="let item of gamecommentlist; let index = index">
                                                                    <div class="list-group bg-blue m-b-sm" style="padding: 6px;">


                                                                        <span class="pull-left thumb-xs m-r-sm">

                                                                            <div *ngIf="item.profilepicturestatus == 'Approved'">

                                                                                <img *ngIf="item.user_image == 'profile.png'" src="{{this.panelService.returnbaseUrl()+'/'+(item.user_image)}}" alt="">
                                                                                <img *ngIf="item.user_image != 'profile.png'" src="{{item.user_image}}" alt="">
                                                                            </div>
                                                                            <div *ngIf="item.profilepicturestatus == 'Unapproved'">
                                                                                    <img *ngIf="item.user_image == 'profile.png'" src="{{this.panelService.returnbaseUrl()+'/'+(item.user_image)}}" alt="">
                                                                                    <img *ngIf="item.user_image != 'profile.png'" src="{{item.user_image}}" alt="">
                                                                            
                                                                            </div>

                                                                        </span>

                                                                        <span class="clear" style="text-align: left;">
                                                                            <span (click)="userprofile(item.user_id,item.user_name)" class="username"><span><strong style="text-transform: capitalize;">{{item.user_name}}</strong></span></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            <small>{{item.created_date | date: 'MMM d, y'}}</small>
                                                                            <span class="clear">{{item.user_comment}} <span style="color:red" *ngIf="item.comment_status == 'Unapproved'"> Waiting for approval </span></span>
                                                                        <span class="pull-right" style="margin-top: -29px;" *ngIf="item.comment_status == 'Unapproved'"> <span (click)="edit_user_comment(item._id,item.user_comment)" data-toggle="modal" data-target="#browseNewCategory" class="glyphicon glyphicon-pencil" aria-hidden="true"></span>  </span>
																		</span>

                                                                        
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div *ngIf="gamecommentlist == ''" style="color: #333;font-size: 15px;"> No User Comment </div>
                                                        </div>

                                                        <div class="top-border clearfix"></div>

                                                    </div>
                                                    <div class="youtubelink"> </div>
                                                    <div class="tubaclink"> </div>

                                                </div>
                                                

                                                            </div>
                                                            <div class="iframewidth2 display_none  hidden-xs">
                                                                <div class="row active_game10">

                                                                    <div class="col-md-12" >
                                                                        <img src="assets/img/google-ad-2.png" alt="">
                                                                    </div>
                                                                </div>
                                                                <br />
                                                                <ul class="game-port game-port-sm">
						
                                                                    <li class="item game_new_item" *ngFor="let i of cate_game_latest ; let index = index">
                                                                        <a (click)="game_reloaded(i.game_slug)" href="javascript:void(0);" routerLink="/g/{{i.game_slug}}">
                                                                            <div class="pos-rlt">
                                                                             
                                                                                <div class="item-overlay opacity game_new_item_active">
																				 <div class="game_opacity">
                                                                                    <div class="bottom">
                                                                                        <span class="pull-left"><small>RATING</small><br>{{i.final_rating}}/5</span>
                                                                                        <span class="pull-right">{{ (i.game_title.length>12)? (i.game_title | slice:0:12)+' ...':(i.game_title)}}</span>
                                                                                    </div>
                                                                                  </div>
                                                                                </div>
                                                                                	<picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
																						<source srcset="{{i.game_image}}" type="image/webp">
																						<source srcset="{{i.game_image_mobile}}" type="image/jpg">
																						<img src="{{i.game_image_mobile}}">
																					</picture> 
                                                                            </div>
                                                                        </a>
                                                                    </li>
																
                                                                </ul>
                                                            </div>
                                                        </div>
                                                       
                                                    </div>
                                                </div>

                                               


                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </section>
							<div class="row" *ngIf="game_status == 'Deleted'" >
							
							    <ul class="game-port">
								<span *ngFor="let item1 of populargamelist; let index = index">
									<li class="item" *ngFor="let item of item1; let index = index">
										<a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}" >
											<div class="pos-rlt">
												<div class="item-overlay opacity active">
													 <div class="bottom">
														 <span class="pull-left"><small>RATING</small><br>{{item.final_rating}}/5</span>
														 <span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
													</div>
												</div>

												<picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
													<source srcset="{{item.game_image}}" type="image/webp">
													<source srcset="{{item.game_image_mobile}}" type="image/jpg">
													<img src="{{item.game_image_mobile}}">
												</picture> 
											</div>
										</a>
									</li>
									
									</span>
								</ul>
						
							</div>
                            <br />
                            <br />
                            <app-footer></app-footer>
                        </section>
                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
            </section>
        </section>
    </section>
</section>

<div class="modal fade" id="browseshare" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3> Share Game</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <div class="text-center margin_bottom_5px">
                        <div class="text-center fw-500">
                            <div class="text-center mt-3">
                                <img style=" width: 55px; margin-left:5px;cursor: pointer;margin-right: 28px;" data-dismiss="modal" class="mx-1" src="assets/img/facebook.png" alt="" (click)="onshareBtn('facebook')">
                                <img style="width: 55px; margin: 22px;cursor: pointer;margin-left: 11px;margin-right: 28px;" data-dismiss="modal" class="mx-1" src="assets/img/whatsapp_24.png" alt="" (click)="onshareBtn('whatsapp')">
                                <img style=" width: 55px; margin: 22px;cursor: pointer;" data-dismiss="modal" class="mx-1" src="assets/img/linkedin_20.png" alt="" (click)="onshareBtn('linkedin')">
                                <img style=" width: 55px;cursor: pointer;margin-left: 28px;margin-right: 28px;" data-dismiss="modal" class="mx-1" src="assets/img/twitter_20.png" alt="" (click)="onshareBtn('twitter')">
                                <img style=" width: 55px; cursor: pointer;    margin-left: 22px;" data-dismiss="modal" class="mx-1" src="assets/img/mail.jpg" alt="" (click)="onshareBtn('mail')">
                                <img style="width: 55px; height:33px; cursor: pointer;margin-left: 28px;margin-right: 28px;" data-dismiss="modal" class="mx-1" src="assets/img/pin.png" alt="" (click)="onshareBtn('pinterest')">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="walkthrough" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3> Game Walkthrough</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12 walkthrough">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="browsereport" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Report {{game_title}}</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-sm-12">
                            <br>
                            <select class="form-control sub" style="margin-top: 0; display:none" [(ngModel)]="report_subject" name="report_subject" placeholder="Select subject">
                                <option value="Game Report">Game Report</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <label class="col-form-label">Message<span>(optional)</span></label>
                            <textarea class="form-control mess" id="report_message" [(ngModel)]="report_message" name="report_message" placeholder="Message"></textarea>
                        </div>
                        <br>
                        <div class="col-sm-12" style="padding-bottom: 11px;padding-top: 11px;">
                            <button style="width: 100%;" type="submit" (click)="reportSubmit()" class="btn">Submit</button>
                        </div>
                        <br>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="browseuserprofile" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>User Profile</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <table style="width:100%" class="table" style="border: transparent; border-top: none !important;">
                        <tr style="border-top: none !important;">
                            <th style="border-top: 0px solid #ddd;">Name:</th>
                            <td style="border-top: 0px solid #ddd;">{{first_name}}</td>
                        </tr>
                        <tr>
                            <th style="border-top: 0px solid #ddd;">Email-id:</th>
                            <td style="border-top: 0px solid #ddd;">{{email_id}}</td>
                        </tr>
                        <tr>
                            <th style="border-top: 0px solid #ddd;">Gender</th>
                            <td style="border-top: 0px solid #ddd;">{{gender}}</td>
                        </tr>
                    </table>
                    <h4>Game Playing Duration </h4>
                    <table class="table" style="border-top:0px">
                        <thead>
                            <tr>
                                <th style="width: 10px">#</th>
                                <th style="text-align: center;">Game Title</th>
                                <th style="text-align: center;">Game Category Name</th>
                                <th style="text-align: center;">Duration</th>

                            </tr>
                        </thead>
                        <tbody style="text-align: center;">
                            <tr *ngFor="let item of gameplaylist; let index = index">
                                <td>{{index + 1}}.</td>
                                <td>{{item.game_title}}</td>
                                <td>{{item.games_category_name}}</td>
                                <td>{{item.duration}}</td>

                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<!---------------------------- Modal for Browse Category-------------------------->
<div class="modal fade" id="browseNewCategory" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Edit Your Comment</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <input type="hidden" id="game_category_id" name="game_category_id" [(ngModel)]="game_category_id" class="form-control" value="">

                            <label class="control-label col-md-3" for="edit_comment">Comment<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control edit_comment" style="width : 100%" [(ngModel)]="edit_comment" id="edit_comment" name="edit_comment" placeholder="Game Category Name" type="text">
                            </div>
                        </div>
						
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default close_btn" data-dismiss="modal">Close</button>
                            <button type="submit" (click)="edit_commentSubmit()" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

