<app-loader *ngIf="loader"></app-loader>
 <app-navbar></app-navbar>
 <style>
 .active-page{
   background: #8bdde9;
 }
 
 </style>
<div class="content-wrapper animated fadeInRight container">
<div class="content"> 
	<div class="row">
	   <div class="col-lg-12">
	     <div class="box box-primary ">
			<div class="ibox float-e-margins">
				<div class="row">
				<div class="col-md-6">  <h3 >Game play user List</h3></div>
				<div class="col-md-6">  
					</div>
				</div>
				
				<div class="box-body">
				<div *ngIf="userlist != ''">
					<table class="table table-bordered">
						<thead>
							<tr>
							  <th style="width: 10px">#</th>
							  <th>User Name</th>
							  <th>Game Title</th>
							  <th>Duration</th>
							</tr>
						</thead>
						<tbody>
						  
							<tr  *ngFor="let item of userlist; let index = index">
							
								  <td>{{index+1}}.</td> 
								  <td><a href="javascript:void(0);" >{{item.user_fullname}}</a></td>
								  <td><a href="javascript:void(0);" >{{item.game_title}}</a></td>
								  <td>
								  {{item.duration/3600 | number : '.1-1'}}::{{item.duration% 3600 / 60 | number : '.1-1'}}::{{item.duration% 3600 % 60 | number : '.1-1'}}
							  (H:m:s)
							  
								  </td>
								 
								 
							</tr>
							
						</tbody>
				  </table>
				  </div>
				  <div class="row" *ngIf="userlist == ''">
				<div class="alert alert-danger  " role="alert">Data Not found</div>
			   </div>
				</div> 
			</div>
		</div>
		</div>
		
	</div>
	
	</div>
</div>
<!---------------------------- Modal for Browse Image-------------------------->
<div class="modal fade" id="browseCsv" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header display_initial">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3>Upload CSV</h3>
					</div>
					<div class="modal-body row">
							<div class="col-md-12">
				<div id="headMsg"></div>
				<input type="file"    class="form-control" [(ngModel)]="product_images" name="product_images"  style="border: none;" id="product_images">
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button id= 'close_register_modal' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit"  class="btn btn-primary">Submit</button>
				</div>
									
							</div>
					</div>
			</div>
	</div>
</div>