<app-loader *ngIf="loader"></app-loader>
<section class="vbox">
	<app-sidebar></app-sidebar>
	
	<section>
		<section class="hbox stretch">
			<section id="content">
				<section class="hbox stretch">
					<section>
						<section class="vbox">
							<section class="scrollable padder-lg w-f-md" id="bjax-target" style="min-height: 666px;">
							 
								<ul class="game-port">
									<li class="item game_new_item" *ngFor="let item of searchgamelist; let index = index">
										<a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}" >
											<div class="pos-rlt">
											<span class="badge"><img src="assets/img/new-sm.png"></span>
												<div class="item-overlay opacity game_new_item_active">
													 <div class="bottom">
														 <span class="pull-left"><small>RATING</small><br>{{item.final_rating}}/5</span>
														 <span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
													</div>
												</div>
											<picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
												<source srcset="{{item.game_image}}" type="image/webp">
												<source srcset="{{item.game_image_mobile}}" type="image/jpeg">
												<img src="{{item.game_image_mobile}}">
											</picture> 
											</div>
										</a>
									</li>
									<li class="item game_new_item" *ngFor="let item of searchgamecatelist; let index = index">
										<a href="javascript:void(0);" routerLink="/g/{{item._id}}" >
											<div class="pos-rlt">
												<div class="item-overlay opacity game_new_item_active">
													 <div class="bottom">
														 <span class="pull-left"><small>RATING</small><br>{{item.final_rating}}/5</span>
														 <span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
													</div>
												</div>
											<picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
												<source srcset="{{item.game_image}}" type="image/webp">
												<source srcset="{{item.game_image_mobile}}" type="image/jpeg">
												<img src="{{item.game_image_mobile}}">
											</picture> 
											</div>
										</a>
									</li>
									
								</ul>
							
	                       <div *ngIf="!searchgamelist" style="color: white;font-size: 38px;display:none"> No search result found </div>
							</section><br/><br/><br/><br/><br/><br/><br/>
							<app-footer></app-footer>
							
							
						</section>
					</section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
			</section>
		</section>
	</section>
</section>

	