<app-loader *ngIf="loader"></app-loader>
<app-navbar></app-navbar>
<div class="content-wrapper animated fadeInRight">
    <div class="content">
        <div class="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-primary ">
                        <div class="box-header with-border">
                            <h3 class="box-title">Sub Module</h3>
                            <button class="btn btn-default pull-right addNewCategory" (click)="addNewCategory();" data-toggle="modal" data-target="#browseNewCategory">Add New Submodule</button>
                        </div>
                        <div class="box-body">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div id="headerMsg"></div>

                                    <div class="table-responsive">
                                        <table id="blog_cat_table" class="table table-striped table-bordered table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>S. No.</th>
													<th>Module Name</th>
													<th>Sub Module</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of submodulelist; let index = index">
                                                    <td>{{index + 1}}</td>
                                                    <td>{{item.module_name}}</td>
                                                    <td>{{item.submodule_name}}</td>
                                                    <td>
														<a tooltip="Edit" placement="bottom" show-delay="500" href="javascript:void(0);" (click)="editsubmodule(item._id, item.submodule_name,item.module_id,item.submodule_link)"><i data-toggle="modal" data-target="#browseNewCategory" class="fa fa-edit"></i></a> &nbsp;&nbsp;
                                                        <a tooltip="Remove" placement="bottom" show-delay="500" href="javascript:void(0);"  (click)="removesubmodule(item._id)"><i class="fa fa-trash"></i></a>
                                                 
                                                    </td>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------- Modal for Browse Category-------------------------->
<div class="modal fade" id="browseNewCategory" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3> Sub Module</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <input type="hidden" id="submodule_id" name="submodule_id" class="form-control" value="">

                            <label class="control-label col-md-4" for="module_name"> Add Module  <span class="required">*</span></label>
                            <div class="col-md-8">
							<select class="form-control  " style="width : 100%"  [(ngModel)]="module_id"  id="module_id"  name="module_id" (change)="onmoduleChange($event)">
								<option  *ngFor="let item of modulelist; let index = index" value="{{item._id}}">{{item.modulename}}</option>
							</select>
						</div>
							
                        </div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            
                            <label class="control-label col-md-4" for="submodule_name"> Add Sub Module <span class="required">*</span></label>
                            <div class="col-md-8">
								<input class="form-control" style="width : 100%" [(ngModel)]="submodule_name" id="submodule_name" name="submodule_name" placeholder="Enter sub module" type="text">
                            </div>
							
                        </div>
						
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            
                            <label class="control-label col-md-4" for="submodule_link"> Submodule Link <span class="required">*</span></label>
                            <div class="col-md-8">
								<input class="form-control" style="width : 100%" [(ngModel)]="submodule_link" id="submodule_link" name="submodule_link" placeholder="Enter Submodule Link" type="text">
                            </div>
							
                        </div>
						
                        <div class="clearfix"></div>

                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
