image-cropper{max-width: 250px;}
@media only screen and (max-width: 767px) and (min-width: 200px){
	.box {
		width: 100%;
	}
	.del_account{
		margin-top:22px;
	}
	.change_profile{
		margin-top:57px;
	}
}
.del_account{
	margin-right: 1%;
}
