<app-loader *ngIf="loader"></app-loader>
<section class="vbox">
	<app-sidebar></app-sidebar>
	
	<section>
		<section class="hbox stretch">
			<section id="content">
				<section class="hbox stretch">
					<section>
						<section class="vbox">
							<section class="scrollable padder-lg w-f-md" id="bjax-target">
							<div class="content"> 
							
	<div class="row container change_profile" >
	<div class="row" style="margin-top: 22px;">
	<h3 class="box-title pull-left" style="margin-top: 0px;">Change profile</h3>
	<a href="javascript:void(0);"  routerLink="/u/{{user_name}}"><button   style="margin-right: 11px;" type="button" class="btn btn-info pull-right" >View Profile</button></a>	
	</div>			
	   <div class="col-lg-12">
	     <div class="box box-primary ">
			<div class="ibox float-e-margins">
				
				
				<div class="box-body" style="min-height: 400px;">
					<form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                          
                            <label class="control-label col-md-3" for="first_name"> First Name<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="first_name" id="first_name" name="first_name" placeholder="First Name" type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="last_name"> Last Name<span class="required">*</span></label>
                            <div class="col-md-9">
                               <input class="form-control" style="width : 100%" [(ngModel)]="last_name" id="last_name" name="last_name" placeholder="Last Name" type="text">
                           </div>
							</div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="user_name"> User Name<span class="required">*</span></label>
                            <div class="col-md-9">
                               <input class="form-control" style="width : 100%" [(ngModel)]="user_name" readonly id="user_name" name="user_name" placeholder="User Name" type="text">
                           </div>
							</div>
						<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
			                   <label class="col-lg-3 control-label"  for="blog_img">Profile Image <span class="required">*</span></label>
						      <div class="col-md-9">
				          <figcaption><button (click)="chooseimg()" data-toggle="modal"  data-target="#registerImage" class="btn"> Choose Image</button></figcaption>
				               <label class="cabinet center-block">
					            <figure>
						        <img data-toggle="modal"  data-target="#registerImage"  src="{{admin_img_src}}" style="width: 150px; height:150px" class="gambar img-responsive img-thumbnail" id="item-img-output" />
						
					            </figure>
				             </label>
				          <input type="hidden" [(ngModel)]="admin_img" class="form-control admin_img" id="admin_img" name="admin_img"  value="">
				                <div class="image-preview inline_block">
				 						
				                 </div>
			             </div>
		                    </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							 <label class="control-label col-md-3" for="gender"> Gender<span class="required">*</span></label>
                            <div class="col-md-9">
                             <label class="radio-inline"><input type="radio" class="custom-control-input" [(ngModel)]="gender" name="gender" id="gender" value="Male">Male</label>                             
							<label class="radio-inline"><input type="radio" class="custom-control-input" [(ngModel)]="gender" name="gender" id="gender" value="Female">Female</label>  </div>
						   </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="email_id"> Email<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="email_id" id="email_id" name="email_id" placeholder="Enter Email" readonly type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="fb_link">Facebook Profile Link(Optional)</label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="fb_link" id="fb_link" name="fb_link" placeholder="Enter Facebook Profile Link"  type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="twitter_link"> Twitter Link (Optional)</label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="twitter_link" id="twitter_link" name="twitter_link" placeholder="Enter Twitter Profile Link"  type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="google_plus_link">Linkedin link (Optional)</label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="google_plus_link" id="google_plus_link" name="google_plus_link" placeholder="Enter Linkedin link"  type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3" for="profile_show">Profile Show</label>
                            <div class="col-md-9">
                              <select class="form-control  " style="width : 100%"  [(ngModel)]="profile_show"  id="profile_show"  name="profile_show" >
								<option   value="Public">Public</option>
								<option   value="Private">Private</option>
							</select>
                            </div>
                            </div>
							<div class="form-group col-md-12 col-xs-12" style="padding: 15px 0px 15px 0px">
							<label class="control-label col-md-3 hidden-xs" for="email_id"><span class="required">*</span></label>
                            <div class="col-md-9 col-xs-12">
                              <button type="submit" (click)="onSubmit()" class="btn btn-info">Save</button>
							    	   
							
							  <a href="javascript:void(0);" routerLink="/change-password"><button   style="margin-right: 10px;    margin-left: 60px;" type="button" class="btn btn-info" >Change Password</button></a>
			 
						       <button (click)="block_account()"  type="button" class="btn btn-info  del_account" >Delete Account</button>
			             
						   </div>
                            </div>
							
                        <div class="clearfix"></div>
                        
                    </form>
				</div>
			</div>
		</div>
		</div>
		
	</div>
	</div>
							</section>
							<br>
							<br>
							<br>
							<br>
							<br>
							<br>
							<app-footer></app-footer>
							
							
						</section>
					</section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
			</section>
		</section>
	</section>
</section>
<div class="modal fade" id="registerImage" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header display_initial">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3>Upload Image</h3>
					</div>
					<div class="modal-body row">
							<div class="col-md-12">
				<div id="headMsg"></div>
				<input type="file" style="border: none;" class="form-control mycropimageuploadinput" (change)=" fileChangeEvent($event)"/>
				<image-cropper
						[imageChangedEvent]="imageChangedEvent"
						[maintainAspectRatio]="true"
						[aspectRatio]="3 / 3"
						[resizeToWidth]="250"
						format="webp"
						(imageCropped)="imageCropped($event)"
				></image-cropper>
				<img style="width: 100px;height:100px;" [src]="croppedImage" *ngIf="croppedImage"/>
				
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button id= 'close_register_modal' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" (click)="onSaveCropImage()" class="btn btn-primary">Submit</button>
				</div>
									
							</div>
					</div>
			</div>
	</div>
</div>
	