<app-loader *ngIf="loader"></app-loader>
<section class="vbox" style="background-color: white;">
	<app-sidebar></app-sidebar>
<style>
.changepass{
     padding-top: 111px;
    justify-content: center;
    align-items: center;
    min-height: 85vh;
}
</style>
	<section>
		<section class="hbox stretch">
			<section id="content">
				<section class="hbox stretch">
					<section>
						<section class="vbox">
							<section class="scrollable padder-lg w-f-md" id="bjax-target">
							<div class="row">
							<div class="col-md-4"> </div>
							<div class="col-md-4"> 
								<div class="sign padd changepass">

									  <div class="login-main">
										<h4 style="text-align: center;">Change Password</h4>
										<div class="form-group">
											<label for="exampleInputPassword1">Old Password</label>
											<input type="password" class="form-control" [(ngModel)]="old_pass"  name="old_pass" id="old_pass" Placeholder="Enter old Password" >
										  </div>
										  <div class="form-group">
													<label for="">New Password</label>
													<input type="password" class="form-control" [(ngModel)]="new_pass" id="new_pass" name="new_pass" Placeholder="Password">
										</div>
											<div class="form-group">
														<label for="">Confirm Password</label>
														<input type="password" class="form-control" [(ngModel)]="confirm_pass" id="confirm_pass" name="confirm_pass" Placeholder="Password">
											</div>
								  
										<button style="margin: 0 auto;display: block;" type="submit" (click)="changepass()" class="btn pull-center">Submit</button>
								   
									  </div>
	                                  <br>
								 </div>
								 </div>
								<div class="col-md-4"> </div>
								</div>
							</section>
							<app-footer></app-footer>
							
							
						</section>
					</section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
			</section>
		</section>
	</section>
</section>