<app-loader *ngIf="loader"></app-loader>
<section class="vbox" style="background-color: white;">
    <app-sidebar></app-sidebar>

    <section>
        <section class="hbox stretch">
            <section id="content">
                <section class="hbox stretch">
                    <section>
                        <section class="vbox" style="padding-top: 35px;">
                            <section class="scrollable padder-lg w-f-md" id="bjax-target">
                                <div class="container">

                                </div>
                            </section>
                            <div class="row" style="padding-top: 35px;">
                                <h3 style="text-align: center;">Forgot Password</h3>
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-6" style="margin-left: 12px;">
                                    <div class="row">
                                        <div class="sign padd" style="padding-bottom: 32px;">
                                            <div class="container">
                                                <div class="col-sm-6 offset-3">
                                                    <div class="login-main">
                                                        <form id="forgetForm"  class="form-horizontal" role="form">

                                                            <div class="form-group">
                                                                <label for="">Email<span class="required">*</span></label>
                                                                <input type="email" class="form-control" [(ngModel)]="useremail"  id="email" name="email" Placeholder="Enter Email">
                                                            </div>

                                                            <button type="submit" (click)="forgetpassword()" class="btn" style="width: 100%;">Submit</button>
                                                            
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <app-footer></app-footer>
                        </section>
                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
            </section>
        </section>
    </section>
</section>