<app-loader *ngIf="loader"></app-loader>
<section class="vbox" style="background-color: white;">
    <app-sidebar></app-sidebar>

    <section>
        <section class="hbox stretch">
            <section id="content">
                <section class="hbox stretch">
                    <section>
                        <section class="vbox" style="padding-top: 35px;">
                            <section class="scrollable padder-lg w-f-md" id="bjax-target">
                                <div class="container">

                                </div>
                            </section>
                            <div class="row" style="padding-top: 35px;">
                                <h3 style="text-align: center;">Reset Password</h3>
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-6" style="margin-left: 12px;">
                                    <div class="row">
                                        <div class="sign padd">
										  <div class="container">
											<div class="col-sm-6 offset-3">
											  <div class="login-main">
												<h4>Reset password</h4>
												<form id="resetForm"  class="form-horizontal" role="form">
										  
										  <div class="form-group">
													<label for=""> New password<span class="required">*</span></label>
													<input type="password" class="form-control" [(ngModel)]="new_password" id="new_password" name="new_password" Placeholder="Password">
										</div>
										<div class="form-group">
													<label for=""> Confirm password<span class="required">*</span></label>
													<input type="password" class="form-control" [(ngModel)]="confirm_password" id="confirm_password" name="confirm_password" Placeholder="Password">
										</div>
										  
										  <button type="submit" (click)="resetpassword()" class="btn" style="width: 100%;margin-bottom: 50px;">Submit</button>
										   
										  
										</form>
											  </div>
											</div>
										  </div>
										</div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                </div>
                            </div>
                            <app-footer></app-footer>
                        </section>
                    </section>
                </section>
                <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
            </section>
        </section>
    </section>
</section>