<app-loader *ngIf="loader"></app-loader>
<app-navbar></app-navbar>

<div class="content-wrapper container">
    <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i style="color: #fff;" class="fa fa-users"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">users</span>
                        <span class="info-box-number">{{user_count}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i style="color: #fff;" class="fa fa-indent"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Games</span>
                        <span class="info-box-number">{{game_count}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
			  <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: #93c1cc;"><i style="color: #fff;" class="fa fa-check" aria-hidden="true"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Approved picture</span>
                        <span class="info-box-number">{{approve_count}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
			<div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: black;"><i style="color: #fff;" class="fa fa-ban" aria-hidden="true"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Unapproved picture</span>
                        <span class="info-box-number">{{unapprove_count}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
			  <div class="col-md-3 col-sm-6 col-xs-12">
                <div class="info-box">
                    <span class="info-box-icon" style="background-color: black;"><i style="color: #fff;" class="fa fa-ban" aria-hidden="true"></i></span>

                    <div class="info-box-content">
                        <span class="info-box-text">Pending comment</span>
                        <span class="info-box-number">{{unapprove_comment}}</span>
                    </div>
                    <!-- /.info-box-content -->
                </div>
                <!-- /.info-box -->
            </div>
            <div class="clearfix visible-sm-block"></div>

        </div>


      
        
    </section>
</div>