<app-loader *ngIf="loader"></app-loader>
 <app-navbar></app-navbar>
<div class="content-wrapper animated fadeInRight container">
<div class="content"> 
	<div class="row">
	   <div class="col-lg-12">
	     <div class="box box-primary ">
			<div class="ibox float-e-margins">
				<div class="box-header with-border">
					  <h3 class="box-title">Staff Profile</h3>
				</div>
				
				<div class="box-body">
						<div id="headerMsg"></div>
						
						
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="staff_name"> Name <span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input type="text" [(ngModel)]="staff_name"  id="staff_name" name="staff_name" placeholder="Enter Staff Name" class="form-control" value=""> 
							</div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="staff_email"> Email <span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input type="text" [(ngModel)]="staff_email"  id="staff_email" name="staff_email" placeholder="Enter Staff Email" class="form-control" value=""> 
							</div>
						</div>
						
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="staff_city"> City <span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input type="text" [(ngModel)]="staff_city"  id="staff_city" name="staff_city" placeholder="Enter City Name" class="form-control" value=""> 
							</div>
						</div>
						<div class="form-group" >
							<label class="col-lg-3 control-label"  for="staff_phone_number"> Phone Number <span class="required">*</span></label>
							<div class="col-lg-7" style="margin-bottom: 30px;">
								<input type="text" [(ngModel)]="staff_phone_number"  id="staff_phone_number" name="staff_phone_number" placeholder="Enter Phone Number" class="form-control" value=""> 
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-offset-3 col-lg-3">
								<button id="btn-signup" (click)="submitprofile()" type="submit" class="btn btn-primary">Update</button>
								
							</div>
						</div>
				
				</div>
			</div>
		</div>
		</div>
		
	</div>
	</div>
</div>
<div class="modal fade" id="registerImage" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
			<div class="modal-content">
					<div class="modal-header display_initial">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h3>Upload Image</h3>
					</div>
					<div class="modal-body row">
							<div class="col-md-12">
				<div id="headMsg"></div>
				<input type="file" style="border: none;" class="form-control mycropimageuploadinput" (change)=" fileChangeEvent($event)"/>
				<image-cropper
						[imageChangedEvent]="imageChangedEvent"
						[maintainAspectRatio]="true"
						[aspectRatio]="3 / 3"
						[resizeToWidth]="128"
						format="png"
						(imageCropped)="imageCropped($event)"
				></image-cropper>
				<img style="width: 100px;height:100px;" [src]="croppedImage" *ngIf="croppedImage"/>
				
				<div class="clearfix"></div>
				<div class="modal-footer">
					<button id= 'close_register_modal' type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" (click)="onSaveCropImage()" class="btn btn-primary">Submit</button>
				</div>
									
							</div>
					</div>
			</div>
	</div>
</div>
<!---------------------------- Modal for Browse Image-------------------------->
