<app-loader *ngIf="loader"></app-loader>
<app-navbar></app-navbar>
<div class="content-wrapper animated fadeInRight">
    <div class="content">
        <div class="">
            <div class="row">
                <div class="col-lg-12">
                    <div class="box box-primary ">
                        <div class="box-header with-border" >
                            <h3 class="box-title">Staff list</h3>
                            <button style="display:none" class="btn btn-default pull-right addNewCategory" (click)="addAddStaffDialog();" data-toggle="modal" data-target="#browseNewCategory">Add New Staff</button>
                            <button style="display:none" class="btn btn-default pull-right addNewCategory" routerLink="/games" >Go to Games</button>
                        </div>
                        <div class="box-body">
                            <div class="ibox float-e-margins">
                                <div class="ibox-content">
                                    <div id="headerMsg"></div>

                                    <div class="table-responsive">
                                        <table id="blog_cat_table" class="table table-striped table-bordered table-hover ">
                                            <thead>
                                                <tr>
                                                    <th>S. No.</th>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of staffList; let index = index">
                                                    <td>{{index + 1}}</td>
                                                    <td>{{item.name}}</td>
                                                    <td>{{item.email}}</td>
                                                    <td>
                                                        <a href="javascript:void(0);" (click)="editStaff(item)"><i data-toggle="modal" data-target="#browseNewCategory" class="fa fa-edit"></i></a> &nbsp;&nbsp;
                                                        <a href="javascript:void(0);" (click)="openStaffSetting(item)"><i data-toggle="modal" data-target="#aclDialog" class="fa fa-edit"></i></a> &nbsp;&nbsp;
                                                        <a href="javascript:void(0);"  (click)="removecategory(item.menu_category_id)"><i class="fa fa-trash"></i></a>
                                                    </td>

                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------- Modal for Browse Category-------------------------->
<div class="modal fade" id="browseNewCategory" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3> Add New Staff</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <label class="control-label col-md-3" for="menu_category_name">Name <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="name" id="name" name="name" placeholder="Name" type="text">
                            </div>
                            <label class="control-label col-md-3" for="menu_category_name">Email Address <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="email" id="email" name="email" placeholder="Email" type="text">
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" (click)="saveStaff()" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!---------------------------- Modal Assign Access-------------------------->
<div class="modal fade" id="aclDialog" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3> Access Level For Staff</h3>
            </div>
            <div class="modal-body row">
                <div class="col-md-12">
                    <form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 15px 0px">
                            <label class="control-label col-md-3" for="menu_category_name">Access Level <span class="required">*</span></label>
                            <div class="col-md-9">
                                <div class="form-check" *ngFor="let tag of systemAccessList; let i = index;">
                                    <label class="form-check-label" for="tag{{tag.name}}">
                                      <input
                                        class="form-check-input"
                                        type="checkbox"
                                        id="tag{{tag._id}}"
                                        name="tagOptions"
                                        (change)="changeCheckbox(tag,i)"
                                        [checked]="tag.checked">
                                      {{tag.name}}
                                    </label>
                                  </div>
                            </div>
                            <!-- <label class="control-label col-md-3" for="menu_category_name">Email Address <span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="email" id="email" name="email" placeholder="Email" type="text">
                            </div> -->
                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" (click)="saveStaff()" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
