<app-loader *ngIf="loader"></app-loader>
 <app-navbar></app-navbar>
<div class="content-wrapper animated fadeInRight container">
<div class="content"> 
	<div class="row">
	   <div class="col-lg-12">
	     <div class="box box-primary ">
			<div class="ibox float-e-margins">
			
				<div class="row">
				<div class="col-md-6">  <h3 >Staff List</h3></div>
				<div class="col-md-6">  <a style="margin-right: 11px;"  class="btn btn-info pull-right" href="addstaff/0" >Add New Staff</a>
					</div>
				</div>
				
				<div class="box-body">
					<table class="table table-bordered">
						<thead>
							<tr>
							  <th style="width: 10px">#</th>
							  <th>Staff Name</th>
							  <th>Email-id</th>
							  <th style="width: 60px">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of stafflist; let index = index">
							  <td>{{index + 1}}.</td> 
							  <td>{{item.staff_name}}</td>
							  <td>{{item.staff_email}}</td>
							  <td style="width: 222px;">
								<a tooltip="Edit" placement="bottom" show-delay="500"  routerLink="/addstaff/{{item._id}}" name="{{item._id}}" ><span class="label label-success">Edit</span></a>
								<a style="display:none" tooltip="Remove" placement="bottom" show-delay="500" (click)="removestaff(item._id)" ><span class="label label-danger">Remove</span></a>
                                <a  href="javascript:void(0);" (click)="emp_access(item._id,item.staff_name)"> <i data-toggle="modal" data-target="#browseAccessModal"><span class="label label-primary">Define Access</span></i></a>							 
							 </td>
							</tr>
						</tbody>
				  </table>
				</div> 
			</div>
		</div>
		</div>
		
	</div>
	</div>
</div>
<!---------------------------- Modal for Browse Image-------------------------->
<div class="modal fade" id="browseAccessModal" tabindex="-1" course_package="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Update Employee Access</h3>
            </div> 
            <div class="modal-body row">
				<div class="col-md-12">
					<form id="access_define_form" method="post" class="form-horizontal">
						<input type="hidden" [(ngModel)]="emp_id" name="emp_id" id="emp_id" value="">
						<div class="clearfix"></div>
						<div class="form-group col-md-12">
							<label class="control-label col-md-3" for="emp_name2">Employee Name<span class="required">*</span></label>
							<div class="col-md-9">
								<input type="text" class="form-control" [(ngModel)]="emp_name" id="emp_name" name="emp_name" value="">
							</div>
						</div>
						<div class="form-group col-md-12">
							<label class="control-label col-md-3" for="access_define">Access Define<span class="required">*</span></label>
							<div class="col-md-9">
								<div class="">
									<table id="blog_cat_table" class="table table-bordered">
						<thead>
							<tr>
							  <th style="width: 10px">S.no</th>
							  <th>module_name</th>
							  <th>submodule_name</th>
							  <th style="width: 60px">Action</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of submodulelist; let index = index" class="accessdata">
							
							 <td>{{index + 1}}.</td> 
							  <td class="submodule_id" style="display:none">{{item._id}}<input type="text" class="submodule_id" name="submodule_id"  value="{{item._id}}"></td>
							  <td>{{item.module_name}}</td>
							  <td class="module_id" style="display:none">{{item.module_id}}<input type="text" class="module_id" name="module_id"  value="{{item.module_id}}"></td>
							  <td class="submodule_link" style="display:none"><input type="text" class="submodule_link" name="submodule_link"  value="{{item.submodule_link}}"></td>
							  <td>{{item.submodule_name}}</td>
							  <td><input type="checkbox" name="case[]"  value="{{item._id}}"></td>
							
							  
							</tr>
						</tbody>
				  </table>
								</div>
								<div class="submenu-error"></div>
							</div>
						</div>
						<div class="clearfix"></div>
                        
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" (click)="accessSubmit()" class="btn btn-primary">Save</button>
						</div>
					</form>
					
				</div>
			</div>
        </div>
    </div>