<app-feenuloader *ngIf="loader"></app-feenuloader>
<section class="vbox">
	<app-sidebar></app-sidebar>
	<input type="hidden" id="my_cat_name"> 
	<input type="hidden" id="my_cat_id" > 
	<section>
		<section class="hbox stretch">
			<section id="content">
				<section class="hbox stretch">
					<section>
						<section class="vbox">
							<section class="scrollable padder-lg w-f-md" id="bjax-target" style="min-height: 666px;">
							 <div class="no_search display_none" style="margin-top: 10px;">
							   <div class="alert alert-danger" role="alert">No Result, Why dont you try those popular games</div>
							   </div>
							   <br>
								<ul class="game-port" >
									<li class="item game_new_item" *ngFor="let item of searchgamelist; let index = index">
									
										<a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}" >
											<div class="pos-rlt">
												<div class="item-overlay opacity game_new_item_active">
													 <div class="bottom">
														 <span class="pull-left"><small>RATING</small><br>{{item.final_rating}}/5</span>
														 <span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
													</div>
												</div>
											<picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
												<source srcset="{{item.game_image}}" type="image/webp">
												<source srcset="{{item.game_image_mobile}}" type="image/jpeg">
												<img src="{{item.game_image_mobile}}">
											</picture> 
											</div>
										</a>
									</li>
									<li class="item game_new_item" *ngFor="let item of searchgamecatelist; let index = index">
										<a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}" >
											<div class="pos-rlt">
												<div class="item-overlay opacity game_new_item_active">
													 <div class="bottom">
														 <span class="pull-left"><small>RATING</small><br>{{item.final_rating}}/5</span>
														 <span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
													</div>
												</div>
											<picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
												<source srcset="{{item.game_image}}" type="image/webp">
												<source srcset="{{item.game_image_mobile}}" type="image/jpeg">
												<img src="{{item.game_image_mobile}}">
											</picture> 
											</div>
										</a>
									</li>
							
									<li class="item game_new_item" *ngFor="let i of populargamelist; let index = index">
									   
										<a href="javascript:void(0);" routerLink="/g/{{i.game_slug}}" >
											<div class="pos-rlt">
												<div class="item-overlay opacity game_new_item_active">
													 <div class="bottom">
														 <span class="pull-left"><small>RATING</small><br>{{i.final_rating}}/5</span>
														 <span class="pull-right">{{ (i.game_title.length>12)? (i.game_title | slice:0:12)+' ...':(i.game_title)}}</span>
													</div>
												</div>
											<picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
												<source srcset="{{i.game_image}}" type="image/webp">
												<source srcset="{{i.game_image_mobile}}" type="image/jpeg">
												<img src="{{i.game_image_mobile}}">
											</picture> 
											</div>
										</a>
										
									</li>
								
									
								</ul>
							
	                      
							
							</section>
							<div class="row">
							<div class="col-md-1"> </div>
							<div class="col-md-10" style="text-align: center;"><div [innerHTML]="content"></div></div>
							<div class="col-md-1"> </div>
							</div>
							
							<br>
							<br>
							<br>
							<br>
							<br>
							<app-footer></app-footer>
							
							
						</section>
					</section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
			</section>
		</section>
	</section>
</section>

	