<app-loader *ngIf="loader"></app-loader>
<section class="vbox">
	<app-sidebar></app-sidebar>
	
	<section>
		<section class="hbox stretch">
			
			<section id="content">
				<section class="hbox stretch">
					<section>
						<section class="vbox">
						
							<section class="scrollable padder-lg w-f-md" id="bjax-target" style="min-height: 555px;">
								<ul class="game-port">
								<li class="item game_new_item" *ngFor="let item of recentaddedgame; let index = index">
									<a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}" >
										<div class="pos-rlt">
										<span class="badge"><img src="assets/img/new-sm.png"></span>
											<div class="item-overlay opacity optitem game_new_item_active">
												 <div class="bottom">
													 <span class="pull-left"><small>RATING</small><br>{{item.final_rating}}/5</span>
													 <span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
												</div>
											</div>
											<picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
												<source srcset="{{item.game_image}}" type="image/webp">
												<source srcset="{{item.game_image_mobile}}" type="image/jpeg">
												<img src="{{item.game_image_mobile}}">
											</picture>  
										</div>
									</a>
								</li>
							
								  <li class="item game_new_item" *ngFor="let item of gamelist; let index = index">
										<a href="javascript:void(0);" routerLink="/g/{{item.game_slug}}" >
											<div class="pos-rlt">
											<span class="badge"></span>
												<div class="item-overlay opacity game_new_item_active">
													 <div class="bottom">
														 <span class="pull-left"><small>RATING</small><br>{{item.final_rating}}/5</span>
														 <span class="pull-right">{{ (item.game_title.length>12)? (item.game_title | slice:0:12)+' ...':(item.game_title)}}</span>
													</div>
												</div>
											<picture  class="r r-2x img-full" style="width: 150px;height: 148px;">
												<source srcset="{{item.game_image}}" type="image/webp">
												<source srcset="{{item.game_image_mobile}}" type="image/jpeg">
												<img src="{{item.game_image_mobile}}">
											</picture> 
											</div>
										</a>
									</li>
							
									
									
								</ul>
							
								<div *ngIf="device == 'pc'" class="row load_more" style="padding: 22px;text-align: center;">
								<button  class="btn btn-info load_game" (click)="home_page_load_more_game()">Load more</button>
							   </div>
							   <div *ngIf="device == 'mobile'" class="row load_more_mobile" style="padding: 22px;text-align: center;">
								<button  class="btn btn-info load_game_mobile" (click)="home_page_load_more_game()">Load more</button>
							   </div>
							   <br>
							   <br>
							   <br>
							   <div class="row">
							   <div class="col-md-1"> </div>
							     <div class="col-md-10" style="text-align: center;"> 
								  <div [innerHTML]="content"></div>
								 </div>
								 <div class="col-md-1"> </div>
							   </div>
							
							   
							</section>
							<br>
							<br>
							<br>
							<br>
							<br>
							<app-footer></app-footer>
							
							
						</section>
					</section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
			</section>
		</section>
	</section>
</section>
