<app-loader *ngIf="loader"></app-loader>

<style>

.box_shadow {
      box-shadow: 1px 0px 8px 2px #8888;
}

</style>
<section class="vbox" style="background-color: white;">
	<app-sidebar></app-sidebar>

	<section>
		<section class="hbox stretch">
			<section id="content">
				<section class="hbox stretch">
					<section>
						<section class="vbox" style="padding-top: 35px;">
							
				<div class="row" style="padding-top: 35px;">
				<div class="col-sm-3">
			     </div>
				<div class="col-sm-6" style="margin-left: 12px;">
				
					<div class="row">
				    <div class="w-300 ">
					<div class="alert alert-warning msg_show display_none" role="alert"></div>
				<div class="modal-logo">
						<img src="assets/img/logo.png" alt="">
						<p class="text-center">Login in your Account</p>
					</div>
					<div class="col-md-12 box_shadow" style="padding:16px">
						<form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
							<div id="headMsg"></div>
							<div class="form-group text-left" style="width: 100%;margin-top: 10px;">
								<label>Email<span class="required">*</span></label>
								<input class="form-control" style="width : 100%" [(ngModel)]="user_email" id="user_email" name="user_email" placeholder="Enter Email" type="text">
							</div>
							<br/>
							<div class="form-group text-left" style="width: 100%;margin-top: 10px;">
								<label>Password<span class="required">*</span></label>
								<input class="form-control" style="width : 100%" [(ngModel)]="user_password" id="user_password" name="user_password" placeholder="Enter Password" type="password">
								
							</div>
							<div class="clearfix"></div>
							<div class="checkbox text-right" style="margin-top: 10px;float: right;">
								<label><a href="javascript:void(0);" routerLink="/forgetpassword" >Forgot Password?</a></label>
							</div>
							<br>
							
  
							<div class="clearfix"></div>
							
							<button type="submit" (click)="onSubmit()" class="btn btn-login">Sign In</button>
						
						</form>
						<div class="text-footer"><br>
							<p>Don’t have an account &nbsp;<a href="javascript:void(0);" routerLink="/registration"  ><u>Sign Up</u></a></p>
							
						</div>
						<div class="social text-center">
							<a href="javascript:void(0);" (click)="signIn('facebook')" ><img src="assets/img/fblogin.jpg" alt=""></a><br>
							<a  href="javascript:void(0);" (click)="signIn('google')" ><img style="margin-top: 5px; margin-bottom: 5px;" src="assets/img/googlelogin.jpg" alt=""></a><br>
						</div>
					</div>
                </div>
				</div>
			</div>
			<div class="col-sm-3">
			</div>
			</div>
			<br>
			<br>
			<br>
			<br>
			<br>
							<app-footer></app-footer>
						</section>
					</section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
			</section>
		</section>
	</section>
</section>