<app-loader *ngIf="loader"></app-loader>
<style>

.box_shadow {
     box-shadow: 1px 0px 8px 2px #8888;
}

</style>
<section class="vbox" style="background-color: white;">
	<app-sidebar></app-sidebar>

	<section>
		<section class="hbox stretch">
			<section id="content">
				<section class="hbox stretch">
					<section>
						<section class="vbox" style="padding-top: 35px;">
							
				<div class="row" style="padding-top: 35px;">
				<div class="col-sm-3">
			     </div>
				<div class="col-sm-6" >
				<div class="modal-logo text-center">
					<img src="assets/img/logo.png" alt="">
					<p  class="text-center regi_fb">Sign up and Create your Account</p>
					<button style="display:none" class="fb" (click)="facebook()">facebook</button>
				</div>
				<h3> </h3>
				   <div class="col-md-12 box_shadow" style="padding:22px">
				   
						<div class="social text-center row" >
							<div class="col-md-3"></div>
							<div class="col-md-9">
								<a href="javascript:void(0);" (click)="signIn('facebook')" ><img src="assets/img/fblogin.jpg" alt=""></a><br>
								<a href="javascript:void(0);" (click)="signIn('google')" ><img style="margin-top: 5px; margin-bottom: 5px;" src="assets/img/googlelogin.jpg" alt=""></a><br>
							</div>
						</div>
                    <form class=" form-inline" id="faq_form" method="post" enctype="multipart/form-data">
                        <div id="headMsg"></div>
					
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<label class="control-label col-md-3" for="user_name">User Name<span class="required">*</span></label>
                            <div class="col-md-9">
                               <input class="form-control user_name" style="width : 100%" [(ngModel)]="user_name" id="user_name" name="user_name" placeholder="User Name" type="text">
                           </div>
							</div>
                        <div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
                          
                            <label class="control-label col-md-3" for="first_name"> First Name</label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="first_name" id="first_name" name="first_name" placeholder="First Name" type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<label class="control-label col-md-3" for="last_name"> Last Name</label>
                            <div class="col-md-9">
                               <input class="form-control" style="width : 100%" [(ngModel)]="last_name" id="last_name" name="last_name" placeholder="Last Name" type="text">
                           </div>
							</div>
							
							
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							 <label class="control-label col-md-3" for="gender"> Gender</label>
								<div class="col-md-9">
									<label class="radio-inline">
										<input type="radio" class="custom-control-input" [(ngModel)]="gender" name="gender" value="Male"><span class="label-text">Male</span>
									</label>&nbsp;&nbsp;&nbsp;&nbsp;
									<label class="radio-inline">
										<input type="radio" class="custom-control-input" [(ngModel)]="gender" name="gender" value="Female"><span class="label-text">Female</span>
									</label>
                                </div>
						   </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<label class="control-label col-md-3" for="email_id"> Email<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="email_id" id="email_id" name="email_id" placeholder="Enter Email" type="text">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<label class="control-label col-md-3" for="pass"> Password<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="pass" id="pass" name="pass" placeholder="Enter Password" type="password">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<label class="control-label col-md-3" for="confirm_pass"> Confirm Password<span class="required">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" style="width : 100%" [(ngModel)]="confirm_pass" id="confirm_pass" name="confirm_pass" placeholder="Enter Confirm Password" type="password">
                            </div>
                            </div>
							<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<label class="control-label col-md-3" for="confirm_pass"></label>
                            <div class="col-md-9">
                             <div class="form-check">
								<label class="form-check-label">
								  <input class="form-check-input" [(ngModel)]="read_policy" name="read_policy" type="checkbox" value="yes" checked>
								  I have read the <a  href="javascript:void(0);" routerLink="/privacy"  >privacy policy </a> and  <a href="javascript:void(0);" routerLink="/cookies-policy" >cookie policy </a>
								</label>
							  </div>
						   </div>
                            </div>
						 
						<div class="form-group col-md-12" style="padding: 15px 0px 0px 0px">
							<div class="col-md-3"></div>
							<div class="col-md-9">
								 <re-captcha [(ngModel)]="declarativeFormCaptchaValue" name="captcha" required></re-captcha>
							
							</div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="modal-footer">
						
                            <button style="width:100%;" type="submit" (click)="onregSubmit()" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
			     </div>
							<div class="col-sm-3">
							</div>
							</div>
							<br>
							<br>
							<br>
							
						</section>
					</section>
				</section>
				<a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a> 
			</section>
		</section>
	</section>
</section>
<br/>
<br/>
<br/>
<app-footer></app-footer>